[2019-05-17 15:47] migh opened #1 "Add Map Panel and Map Component"
Add MapPanel and Map components.
It is a generic not yet customized version.

[2019-05-20 09:01] migh opened #2 "Improve README.md"
Add the following things to README file:

- [x] A proper project description.
- [x] Installation and running.
- [x] Good practices, code and style guidelines.
- [x] Contribution guidelines.

[2019-05-20 09:05] migh opened #3 "Decide which style framework to use and set basic implementation."
It depends on the final wire frame to take advantage of framework details specific for design.
Task includes setting configuration and schemas, palettes or any common code.

[2019-05-20 09:07] migh opened #4 "Configure transifex"
Configure transifex for multilanguage support. Needs API or account setup.
Rodrigo mention something about using an onLoad event handler for Transifex's script.

[2019-05-20 10:14] migh opened #5 "Add state to URL"
- [x] Add state to url to encode app state in the url.

[2019-05-23 15:22] #5 closed

[2019-05-23 15:22] migh commented on #5
Completed as part of scaffolding.

[2019-05-23 15:23] migh commented on #1
Completed as part of scaffolding.

[2019-05-23 15:23] #1 closed

[2019-05-23 15:25] migh opened #6 "Create global settings state."
- [x] Create global settings state.
- [x] Encode state in url.

[2019-05-23 15:27] migh opened #7 "Create Dashboard(Sidebar) Component"
- [x] Create basic structure of Dashboard component.
- [x] Connect with global state.

[2019-05-23 16:29] migh commented on #6
Done as part of scaffolding.

[2019-05-23 16:29] #6 closed

[2019-05-29 11:29] migh opened #10 "Create and connect Search Dashboard Component"
- [x] Create SearchDashboard component.
- [x] Connect component with current app.

[2019-05-29 14:38] migh opened #11 "Create dashboard schema (module)"
Create dashboard module that includes:
- [x] Initial state.
- [x] Reducers.
- [x] Actions.

State have:
- [x] Title
- [x] Widgets (ordered).
- [x] Active layers.

[2019-05-29 14:39] migh opened #12 "Create search schema (module)"
Create search module that includes:
- [x] Initial state.
- [x] Reducers.
- [x] Actions.

State have:
- [x] Search term.
- [x] Results (ordered).

[2019-06-06 06:59] #7 closed

[2019-06-06 06:59] #10 closed

[2019-06-06 06:59] #11 closed

[2019-06-06 07:00] #12 closed

[2019-06-06 07:02] migh opened #15 "Service for datasets"
Create a service for getting datasets:
* [x] Use a request for get datasets (can be WRI for now).
* [x] Connect service with app through state.

[2019-06-06 07:04] migh opened #16 "Add layer manager"
Add layer manager.
- [x] After adding it some layers should be visible on map.

[2019-06-06 07:09] migh opened #17 "Create widget placeholders"
Create widget placeholders for the following types:
- [ ] Mangrove Extent.
- [ ] Mangrove Coverage.
- [ ] Mangrove Net Change.
- [ ] Mangrove Activity Ranking.
- [ ] Mangrove Alerts

[2019-06-06 07:14] migh commented on #15
Done.

[2019-06-06 07:14] #15 closed

[2019-06-07 10:07] migh opened #18 "Add location navigation"
- [x] Add location navigation

**NOTE**: Locations are mocked for now.

[2019-06-07 10:08] migh commented on #16
Done. Currently on branch `feature/layers` from `feature/schemas`.

[2019-06-07 10:08] #16 closed

[2019-06-07 12:43] migh commented on #18
Done. Currently on branch `feature/layers` from `feature/schemas`.

[2019-06-07 12:43] #18 closed

[2019-07-30 08:57] #3 closed

[2019-07-30 08:57] #4 closed

[2019-07-30 08:57] #17 closed

[2019-07-30 08:58] migh opened #27 "Redux tools are available in prod."
Edit config for not displaying redux tools in production.

[2019-09-25 01:37] #27 closed

[2019-09-25 01:37] #2 closed

[2021-07-07 10:29] dhakelila opened #276 "Welcome to the 3rd phase"
Hello everyone,

As agreed during the Kick-off, we'll be moving all the conversations to Github issues.
From now on, anything you need to discuss, please, continue an existing thread or open a new one.

Cheers!

[2021-07-07 10:38] dhakelila opened #277 "Navigation bar and categories"
Hello Kate and Lammert,

I've been catching up with the team and it seems that you liked the solution Dani presented but you wanted to check with the rest of your team before approving the solution.

When would you be able to send us your team's feedback?

We would like to have it as soon as possible to start coding the solution.

All the best,

[2021-07-07 10:44] dhakelila commented on #276
Just for reference, I'm pinning here the old Basecamp link.
https://basecamp.com/1756858/projects/16449126

[2021-07-07 10:47] dhakelila opened #278 "Climate mitigation & policy"
[FROM BASECAMP]

**Kate Longley-Wood**
Hi Clara and team -- I'm putting the mock-up and the draft tabular data that goes along with it below. Note that I'm still waiting to acquire/verify the data for some of these fields, but at present, this should give you an idea of the general structure. A few challenges:

1. You'll see this app involves a lot of stats/information "bullets". We're looking for

[2021-07-07 10:49] dhakelila commented on #278
[Basecamp original message](https://basecamp.com/1756858/projects/16449126/messages/96909250)

[2021-07-07 10:53] dhakelila opened #279 "26th release scope"
As agreed during the kick-off, this is the scope for the 26th July release.

Improvements to the current display
- Modify platform such that widgets and datasets are arranged by category
- Remove Highlighted Places widget
- Refine default scene so that mangrove extent is more visible

Improvements to functionality
- Allow users to download selected spatial data (which we own)

New data widgets
-

[2021-07-07 10:53] dhakelila commented on #279
[Original basecamp message](https://basecamp.com/1756858/projects/16449126/messages/96909202)

[2021-07-07 10:54] dhakelila commented on #277
[Link to the prototype that Dani prepared](https://basecamp.com/1756858/projects/16449126/messages/96891614)

[2021-07-07 14:59] dhakelila opened #280 "Weekly meeting notes"
Kate, Lammert, I've set up a google [doc to keep track of our meetings and agreements](https://docs.google.com/document/d/1M1XlXMF5OmiduGdWuezLz0965L7mP4Wc).

I'll be adding the items to the agenda throughout the week and then, after the meeting, summarizing the notes and adding actions for ourselves and the rest of the team.

I've given you editor access. Feel free to add whatever you need to the

[2021-07-07 15:52] danicaso-vizzuality opened #281 "Calls to action in the list/collapsed view"
Hi all,

In our last call, you talked about starting with the cards collapsed. That way, we can see the list of datasets/layers at first glance. We found that approach great, so we added some elements playing around this way of navigating:

https://www.figma.com/proto/HksskREDktKK9OBHUfaxQ1/Mangrove-Watch-v02.2?page-id=0%3A1&node-id=31%3A2370&viewport=-14%2C662%2C0.20956838130950928&scaling=min-zo

[2021-07-08 14:55] dhakelila commented on #278
@klongleywood, you mentioned in your previous message that your team has some ideas to represent these values.
We've been discussing this internally and I think it would be good to chat all together.

If you have more ideas from your team, please, send.

If not, we'd like to discuss this during our next weekly call on Tuesday. Dani and Tamara will join us at the beginning of the meeting for this p

[2021-07-09 15:01] klongleywood commented on #277
Hi all,

Here are our notes on the mock-up from our call today:

- Categories look good but can we change "Summary" to "Distribution and Change"
- Is there a way to completely minimize and/or narrow the widgets? -- on a narrow screen they take up too much space.  If you narrow them, we can take away the hide/download/info so you can't see those options until they are expanded. Would also be good t

[2021-07-12 10:10] dhakelila commented on #277
Hi Kate, let see your points one by one:

_- Categories look good but can we change "Summary" to "Distribution and Change"_
Sure, no problem.

- _Is there a way to completely minimize and/or narrow the widgets? -- on a narrow screen they take up too much space. If you narrow them, we can take away the hide/download/info so you can't see those options until they are expanded. Would also be good to

[2021-07-14 09:34] dhakelila opened #282 "download metadata"
Please, @lhilarides, provide a file by Friday 16th July with the desired metadata to show when the user opens a "download panel".
Information that panel might include:
- File name
- Description (optional)
- License (optional)
- Link

Our understanding is that you will provide the links for all the downloadable files.

[2021-07-14 09:38] dhakelila opened #283 "Provide download metadata"
Please, @lhilarides, provide a file by Friday 16th July with the desired metadata to show when the user opens a "download panel".
Information that panel might include:

File name
Description (optional)
License (optional)
Link
Our understanding is that you will provide the links for all the downloadable files.

[2021-07-14 09:39] #282 closed

[2021-07-15 11:20] #276 closed

[2021-07-15 11:21] #279 closed

[2021-07-15 11:21] #280 closed

[2021-07-15 14:10] dhakelila commented on #281
13th July meeting notes about this task:

- Liked the idea proposed.
- Improvement: When the user clicks on one of the options, instead of directly download the file, a modal window will be open to show some information regarding the file you are about to download. Dani will do the changes to the design.

[2021-07-15 14:10] #281 closed

[2021-07-15 14:17] dhakelila opened #291 "[Climate Mitigation and Policy] - Proposal feedback."
Please @klongleywood, share [our proposal](https://github.com/Vizzuality/mangrove-atlas/discussions/285) with your colleagues.

It would be good to be able to discuss this during our next call. If that is not possible, please propose an alternative deadline.

[2021-07-15 14:18] dhakelila opened #292 "[Climate Mitigation and Policy] - Final data sample"
Please confirm when data will be ready.

[2021-07-15 14:19] dhakelila commented on #278
Notes from the 13th July meeting:

- Vizzuality presented a proposal that needs to be approved but GMA. ([Shared on Github for your evaluation](https://github.com/Vizzuality/mangrove-atlas/discussions/285))
- This widget is now out of the scope for the 26th of July due to time constraints.

Pending:
- [GMA feedback](https://github.com/Vizzuality/mangrove-atlas/issues/291).
- [GMA final data](https

[2021-07-15 14:20] #278 closed

[2021-07-15 14:27] #277 closed

[2021-07-16 18:16] klongleywood commented on #291
We discussed this with our internal team today, and one comment was that we may like to add an indicator of what % of forests are mangroves to add more context to the FREL tab.

That said, we'd like to bring this proposal to our climate and policy working group and we are planning a call with them for mid-late August. Given that we're no longer rushing to get this out, this gives us a bit more tim

[2021-07-16 18:16] klongleywood commented on #292
Lammert and I are working on this -- will have this to you by end of day Monday

[2021-07-19 13:57] klongleywood commented on #283
I'm working on this today -- will have you something by COB!

[2021-07-19 21:00] klongleywood commented on #283
Hi all, please see this spreadsheet for this info: https://wetlandsint.sharepoint.com/:x:/s/GlobalMangroveWatch/EYREU2G0OflJmGn3OD13JscBqviN3B_jHPOHQmDieyanIQ?email=clara.linos%40vizzuality.com&e=dnCxqd

[2021-07-20 13:37] dhakelila commented on #283
@mluena, @danicaso-vizzuality
I created a google spreadsheet with the data in our shared drive folder.
https://docs.google.com/spreadsheets/d/1F70J0GWlrPDMD7dYE7O20tAGtCKiEo_qnZygi0AE0lA

[2021-07-23 10:10] dhakelila opened #307 "About link doesn't work"
@lhilarides , @klongleywood , one of the links to the Global Alliance site (https://www.mangrovealliance.org/mangrove-knowledge/) doesn't work.

We have temporarily redirect it to https://www.mangrovealliance.org/about-us/

Let us know if we should direct to another page.

[2021-07-23 18:44] klongleywood commented on #307
You can leave it linked to that page. Thanks!

[2021-07-26 13:07] #307 closed

[2021-09-22 08:52] dhakelila opened #314 "Bugs reporting"
Hi @klongleywood , @lhilarides , we discussed some bugs during our last week and we agreed those will be reported here in Github. I wanted to know if that is still the idea as I can't find them.

[2021-09-22 09:32] lhilarides commented on #314
Hi Clara! Yes, still the plan. I will file them later today. I'd also like
to transfer the repository, so would be great if you give me the
permissions to do so. Thanks!
Lammert

On Wed, Sep 22, 2021 at 10:52 AM Clara Linos ***@***.***>
wrote:

[2021-09-22 13:05] dhakelila commented on #314
Hey Lammert, for the transfer, I understood that we'd wait until the development has started just in case there is something to adapt to the Heroku automatizations.

I'm giving you permission. But I'd recommend waiting.

[2021-09-22 19:45] lhilarides opened #315 "Mangrove height widget doesn't add up to 100% in all countries"
The sum of percentages of the different classes should always add up to 100%. Seems like a mistake was made in calculations. See e.g. Indonesia:
![image](https://user-images.githubusercontent.com/3919721/134411279-fe664a87-181b-4aef-b21d-ce6387ddcc7a.png)

[2021-09-22 19:56] lhilarides opened #316 "Mangrove height widget: suspect something wrong with numbers"
There are very few countries where mangroves reach heights of more than 50 meters according to the source data (Simard et al 2019). The widget however shows many countries that do. Another example is Egypt (and also the Gulf states) where mangroves rarely grow >10m but are shown on the platform to have significant areas of >40m height.

[2021-09-22 19:58] lhilarides opened #317 "Mangrove biomass widget"
In the AsiaPacific region the fist interval is wrong (0-2500 instead of 0-250) which influences the whole pie chart

![image](https://user-images.githubusercontent.com/3919721/134413109-18927add-1945-4a25-9037-e4d251a71e51.png)

[2021-09-22 20:03] lhilarides opened #318 "Mangrove biomass map"
On the map it looks like the mangrove extent layer is now on top of the mangrove biomass layer when both are displayed. The biomass layer should be on top, see below

![image](https://user-images.githubusercontent.com/3919721/134413720-e3d4670a-a1e5-4b57-bef9-33c8baeb4472.png)

[2021-09-22 20:04] lhilarides opened #319 "Download report to PDF produces garbled page"
![image](https://user-images.githubusercontent.com/3919721/134413923-cf689b0f-5697-4b84-acd0-381b00d85da1.png)

![image](https://user-images.githubusercontent.com/3919721/134413899-8da54675-2090-41a2-93b4-d57d14cff65e.png)

[2021-09-22 20:08] lhilarides opened #320 "Browser window resize resets zoom to global level"
When you are zoomed into a country and you resize the browser window, the platform automatically zooms out to a Worldview. You then have to navigate out of the country (select for example another country) and back into the country, you can’t just re-select the country you were zoomed into. The zoom doesn't need to be reset at all when resizing the browser

[2021-09-22 20:10] lhilarides opened #321 "Enable MapBox North / plane reset button"
Please enable this button on the platform
![image](https://user-images.githubusercontent.com/3919721/134414575-06a186e3-857e-4f49-8f40-baac049112e2.png)

[2021-09-22 20:11] lhilarides opened #322 "Switch Mapbox Satellite basemap to Mapbox Satellite Streets basemap"
This way users also have labels available when using the satellite map

[2021-09-28 16:05] lhilarides opened #325 "Mangrove Habitat Change widget: remove on/off button"
There is no geospatial layer associated with the "Mangrove Habitat Change" widget, so the on/off button can be removed:

![image](https://user-images.githubusercontent.com/3919721/135124207-3a28f8cf-1d3e-4203-9926-da8559512d7a.png)

[2021-10-15 13:51] lhilarides opened #328 "Update Mangrove Habitat Extent and Mangrove Net Change layers for COP26"
We'd like to update the Mangrove Habitat Extent and the Mangrove Net Change layers derived from these to display at COP26.

Changes to this layer compared to v2 (current version on the platform):
- added data for the years 2017, 2018, 2019 and 2020
- filled all the known gaps in coverage (so now includes areas and countries that weren't in there before.

Here's the download link to a **preliminary

[2021-10-15 13:56] lhilarides opened #329 "New version of country boundaries (GADM + EEZ)"
There has been an update of the GADM country boundaries + Economic Zone dataset. From now on, please use the layer in the link below for the analysis of all layers and widgets. This has been aligned with other organisations so we all produce the same statistics.

https://www.dropbox.com/s/024py30z3v9h3lb/GADM_EEZ_WCMC-300321.zip?dl=0

[2021-10-20 15:11] klongleywood opened #330 "Mangrove Biodiversity Data"
A table containing mangrove biodiversity data by country is attached. To start, this will be for a simple widget that displays the number of mangrove species, and lists each species
[Mangrove_Biodiversity.csv](https://github.com/Vizzuality/mangrove-atlas/files/7382354/Mangrove_Biodiversity.csv)
.

[2021-10-22 19:51] klongleywood opened #331 "Mangrove Restoration Potential"
Clara and team,

I've put the mangrove restoration data used in the app on Mapping Ocean Wealth in [this folder](https://tnc.box.com/s/8abiem7o8lyd9x1pvpe2yn2mdibgpcqk). Here, you'll also find a guide to the attribute fields. The one addition to the spatial data file is the Loss_Driver field. We'll want to add a description for the mangrove driver of loss for each country and typology unit. Otherw

[2021-11-03 20:12] klongleywood opened #332 "Blue carbon data download"
Is it possible to make the data download for blue carbon more user friendly? Right now it takes users to a directory but there is no indication what location the files cover. If a user wanted to download data for a single country, I'm not seeing any way they could locate that.

[2021-11-04 14:14] klongleywood opened #333 "Mangroves in Protected Areas Data"
The 3rd tab (national) in the attached file contains data we can use to populate the mangroves in protected areas widget. It does not include the new basemap as my understanding is it's still under review?

It might be helpful to discuss whether these populations can be updated on the fly in the future with new versions of the WDPA?

[Mangrove_Protection_Calculations_20210430.xlsx](https://github.

[2021-11-18 09:32] mluena commented on #315
Legend values changed, numbers added up according to legend values (data pending to be reviewed)

 ![Screenshot 2021-11-18 at 10 30 09](https://user-images.githubusercontent.com/33252015/142388731-9c78c490-a029-43ae-9708-4a551b4a2207.png)

[2021-11-18 09:35] mluena commented on #317
Extra 0s in legend removed, legend limited to existing values (data pending to be reviewed):

![Screenshot 2021-11-18 at 10 34 30](https://user-images.githubusercontent.com/33252015/142389390-6b3a506f-9f43-4740-b9aa-174de15abac8.png)

[2021-11-18 09:38] mluena commented on #318
Addressed

![Screenshot 2021-11-18 at 10 36 32](https://user-images.githubusercontent.com/33252015/142389699-ec49314a-7b6d-4309-877a-44a89c5f24ba.png)

[2021-11-18 09:38] #318 closed

[2021-11-18 09:38] #325 closed

[2021-11-18 09:39] mluena commented on #325
![Screenshot 2021-11-18 at 10 39 21](https://user-images.githubusercontent.com/33252015/142390103-fec1ae13-49c9-4892-adbd-5309b4737f4b.png)

[2021-11-23 11:52] tamaramegan commented on #329
@lhilarides the link provided shoes the message 'The file has been deleted'. Could you please send us the file again?

[2021-11-25 08:57] tamaramegan commented on #333
Hi @lhilarides and @klongleywood, which WDPA version are you using for this calculations?
The data from this table has data until 2010. Should we use the latest WDPA version from Nov 2021 or do you have a preferred version that matches these calculations?

[2021-11-25 08:58] tamaramegan commented on #329
@lhilarides Alicia had already downloaded this before the file was deleted, so you can ignore the previous message.

[2021-11-29 14:19] tamaramegan commented on #328
Hi @lhilarides could we have a description of the mangrove extent dataset v3 as we had for v2?
Here is the file we have for v2:

# Global extent of mangrove forests

This dataset shows the global extent of mangroves for 1996, 2007, 2008, 2009, 2010, 2015 and 2016. This is the first global map of mangrove extent produced using an automated, reproducible, and globally consistent methodology, using a

[2021-11-29 19:12] klongleywood commented on #333
Hi @tamaramegan - when you say that this has data through 2010, do you mean 2016? The table I sent should have data through 2016.

If we're talking on-the-fly calculations, ideally we'd use the most recent version of WDPA data. That said, we have a call later this week to discuss some nuances of this table, including correlating the PA designation year to the mangrove extent, so let's talk more ab

[2021-11-30 21:45] klongleywood opened #342 "Updated Climate and Policy Data and Design Notes"
Thanks for your patience as I got this information together! Here are some notes on the climate and policy tool. I'm attaching an updated table and ppt slides to support.

1.	FREL’s don’t warrant their own widget. Move this information to the “International Status” panel
2.	Add NDC Blurb, Climate Vulnerability Index, and Policies Relevant to Mangroves to International Status panel (Columns L, M, a

[2021-12-01 13:00] tamaramegan commented on #333
@klongleywood yes, I meant until 2016!
The question is about which WDPA layer should we be showing on the map. If you have a specific version you want to share or if we should start working with the latest available (Nov 2021)

[2021-12-01 21:10] klongleywood commented on #330
There also may be an opportunity to include data here on the types of species depending on mangroves if that is within scope. The assessments.csv is a list of all animal and plant species that have mangroves (either 1.7 - Forest - Subtropical/Tropical Mangrove Vegetation Above High Tide Level OR 12.7 - Marine Intertidal - Mangrove Submerged Roots) listed on their assessment (2000+). Then the count

[2021-12-01 21:13] klongleywood commented on #333
Got it! Yes, then I think showing the latest available data makes the most sense.

[2021-12-03 12:47] lhilarides commented on #332
Related to this: the geotiffs don't seem to work. QGIS says they only contain zero values in the histogram. I tried several tiles

[2021-12-03 12:52] lhilarides commented on #328
I suggest we keep this as a placeholder until the new v3 has been submitted for publication (2 or 3 weeks) and redraft it then

[2021-12-03 16:36] lhilarides commented on #332
I just tried another one, which does seem to work... strange. I double checked the tiles I downloaded earlier below, and they still don't work. Re-downloaded, and they still don;t work. For example

These tiles do NOT work:
ee_export_tiffs_total_organic_carbon_toc_2016_toc_2016_10000000000-0000000000
ee_export_tiffs_total_organic_carbon_toc_2016_toc_2016_10000000000-0000037888

But this one does:

[2021-12-09 11:29] dhakelila commented on #333
Hi Kate, when do you expect the whole data to come?

I'm trying to evaluate the risks of going ahead with this as I already expressed my preference to have all the materials before Xmas.

Time will be short. Take into account that you will need to review the widget before the event.
Also, in terms of development, does it means that we'll work on a version for a single year now and then, upgrade th

[2021-12-09 17:10] klongleywood commented on #333
@dhakelila and fyi @lhilarides

When you say the whole data, do you mean the data by year, or just the data for the latest baseline?  If it's the latter, we have been told early January. I'm afraid I don't have a sense of the rest of the calculations, but definitely not in time for a February release.

I do understand your preference for the data being available pre-Christmas, but if we publish th

[2021-12-10 14:18] lhilarides opened #343 "Mangrove extent transparency"
The mangrove extent layer is currently displayed the transparency semi-transparently and with a border in the similar GMW teal like color. On a global level this works really well and the mangroves really "pop-out" on the basemap, despite them being very narrow features. When zooming in however, the transparency stops adding value and makes the features almost disappear. See screenshot below for K

[2021-12-10 17:29] klongleywood commented on #333
Hi @dhakelila @tamaramegan  -- an update on this. Our team met today and we decided that we could run the preliminary analysis before the holiday.  Moving forward, we would keep this widget just showing the most recent baseline/WDPA, and not worry about integrating previous years.

We may need to update the data table once the published data is released, but that wouldn't involve any change to the

[2021-12-10 17:32] klongleywood commented on #330
@dhakelila @tamaramegan Feedback on the widget design from today's call:

We like option 2 where the donut shape shows # of species according to their IUCN status. Do you have access to that dataset or do you need us to compile it for you? Easy to do on our end, just let us know.

We're wondering if, for the global view, we could visualize the # of mangrove species by country either by making the

[2021-12-10 18:16] klongleywood commented on #331
@dhakelila @tamaramegan and cc @lhilarides

An update on this dataset -- we expect to have the revised version by February. In the next version, we will not be including the People Protected ecosystem service metric, but the rest of the data structure should stay the same.

[2021-12-13 15:18] dhakelila commented on #333
Hi @klongleywood,

We were also discussing this today.

We thought that what we can do in order to get things done on time is to create ourselves a data sample with the data you already provided and use it to develop the widget, then, provide that sample to you so the only thing you need to do when data is ready is to populate that table and send it back to us so we import to the project.

If you

[2021-12-13 15:35] klongleywood commented on #333
Hi @dhakelila (and fyi @lhilarides) -- this mock-up looks like it's for restoration, not protection. Can you send one that speaks to the protection stats? It will probably look similar, but I just want to make sure we're on the same page...

[2021-12-15 21:12] dhakelila commented on #333
🤦‍♀️ I'm really sorry! I shared the wrong screenshot. But you are right, the one for Protection stats will be very similar.
![Uploading Screenshot 2021-12-15 at 22.11.10.png…]()

[2021-12-16 08:03] tamaramegan commented on #330
Hi  @klongleywood!
For you first question if you can compile the species according to IUCN status on your side it would be great!
For the second, I'll bring it up to the team in our next meeting to discuss.
Thank you!

[2021-12-16 08:23] tamaramegan commented on #343
Hi @lhilarides these are not vector tiles, but it can be done. In the current approach we are exporting the tiles in 3 sets, zooms 12-9, 8-7, 6-0. Each of these sets have a different buffering effect. From 0-6 we can eliminate any buffering and increase opacity to 100% (it was currently set to 80%).

[2021-12-16 08:29] tamaramegan commented on #342
Hi @klongleywood, thanks for the updates!
I don't have access to the documents you have shared, we don't have teams accounts I am wondering if you can make the docs public or share them some other way. Thanks!

[2021-12-16 08:33] tamaramegan commented on #332
@lhilarides we will review this export, thanks!

[2021-12-16 19:43] klongleywood commented on #342
Sorry Tamara! Try https://tnc.box.com/s/gbesb7j3jn6yxeyk9ydoidgrtlcz3c82) and https://tnc.box.com/s/nrfhku0xr6ksizc7z42jaxf3gx923yfb instead.

[2021-12-16 19:44] klongleywood commented on #330
Ok! We will compile -- thanks for the update!

[2022-01-14 13:37] dhakelila commented on #333
@klongleywood , @lhilarides

Clarification about the Protected Areas layer: We have ready the pipeline and we could get a dataset, but Lammert, we prefer if you can provide it.
If time goes by and you don't get the data, Lammert, then we'll provide one dataset.

[2022-01-14 13:46] dhakelila commented on #333
@klongleywood , @lhilarides

We'll prepare staging next week with the actual data so you can start checking.
Then, we'll upload new data as soon as we get it.

[2022-01-20 09:12] AngelArcones commented on #333
I'm attaching here the example for the new data model for the protected areas widget, as a reference on how new data is needed.
[Mangrove_protected_area.csv](https://github.com/Vizzuality/mangrove-atlas/files/7903701/Mangrove_protected_area.csv)
Also, in order to add the location ID to the new data, I include this file with the ID of all the countries that are currently in the API, and their ISO c

[2022-01-21 14:34] klongleywood commented on #330
@tamaramegan @dhakelila thanks for sending the template for the protected area data! Would you mind doing the same for the biodiversity data so we can fill it in appropriately?

[2022-01-21 15:51] klongleywood commented on #331
Another quick note as this widget gets developed - the default symbology for the map appearing on this site should be the map units symbolized by restoration score, rather than by typology type. I can clarify next week if need be

[2022-01-24 08:16] dhakelila commented on #330
Sure! As soon as we get it, we'll send it!

@tamaramegan, let's discuss when it can be ready.

Thanks!

[2022-01-24 08:18] dhakelila commented on #333
@klongleywood, @lhilarides, when do you think you will be sending the data?
Just for us to be ready and upload it asap when we have it.

[2022-01-28 13:23] klongleywood commented on #333
- Change text from "Protected mangroves" to "mangroves in protected areas"
- Remove all years except for 2020
- Include total area of mangrove
- Dropdown unit choose between ha and km2

[2022-01-31 14:28] AngelArcones commented on #330
@klongleywood The data model for the species data should remain unchained, with the same format as the Mangrove_biodiversity.csv file in the first message of this thread. We have already developed the pipeline to transform from that format to the one we will be using in the API.

It is important that countries names in the file match (when possible) the names we shared in the locations file (
[Cou

[2022-01-31 14:43] klongleywood commented on #330
Thanks @AngelArcones - we will work on making sure the country names are consistent, but how would you like us to include the IUCN status in that data scheme? The original csv I sent didn't contain that information.

[2022-01-31 14:53] AngelArcones commented on #330
@klongleywood We can retrieve the IUCN status during the processing of the data, so there is no need to include it on the original file

[2022-01-31 14:58] klongleywood commented on #330
@AngelArcones -- ok, so you don't need us to compile the IUCN statuses? Just want to confirm since earlier your team had requested that we do this and I have someone working on it.

[2022-01-31 17:21] AngelArcones commented on #330
Yes, it is not necessary from your side anymore. We did requested that information initially, but upon developing the data processing pipeline for the widget, we are now able to retrieve that too.

[2022-02-02 13:08] #321 closed

[2022-02-04 13:46] AngelArcones commented on #342
Hi @klongleywood,
after exploring the emissions and mitigation data, there is indeed a generalized mismatch of magnitudes, as seen in this example with the data of Indonesia:
![Emissions raw](https://user-images.githubusercontent.com/57727579/152538694-5bb40461-455f-4139-97d1-f6f8f630c8de.png) (with each bar with its own scale).
After exploring the suggested possibility of normalising by the % of

[2022-02-09 19:32] aagm commented on #333
Hi sharing here the link to download a cleaned and filtered version from the latest Feb file of wdpa data. take into account that this version is not simplified:
https://storage.googleapis.com/mangrove_atlas/boundaries/processed/wdpa_protected_areas_public.zip

[2022-02-09 19:34] klongleywood commented on #342
Hi @AngelArcones -- thanks for this! I brought this up with the team last week and we think that this type of approach is helpful but that it would benefit from some standardization around the various emission sources as well. I've asked my colleague to provide data on this and I expect it this week -- I should have more guidance for you on this soon.

[2022-02-11 14:49] klongleywood commented on #342
[Copy of NCS mitigation potential density by country.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/8049430/Copy.of.NCS.mitigation.potential.density.by.country.xlsx)

Hi @AngelArcones -- here is a copy for the data you can use for the bar chart on the left.  The data have both totals as well as totals normalized by land area. It might be useful to see what it looks like both normalized a

[2022-02-11 16:11] lhilarides commented on #333
Hi @aagm , I just checked the WDPA dataset, but it only contains marine protected areas. Since there are quite a lot of mangroves in protected areas that are not marine one, we are also going to need the non-marine ones. Do you have a cleaned / filtered version of the WDPA that includes these? Thanks in advance!

[2022-02-16 09:24] aagm commented on #333
Hi, we are folowing the similar rules for WDPA used to generate the version that is uploaded into the platform. That means that We are applying the next filtering option to the main WDPA dataset:
* We are filtering by Status, we are removing those areas that have the status = proposed.
* We are fitering bt Marine, we are removing Areas with value 0 (Terrestrial), but leaving those that are terrest

[2022-02-17 20:11] dhakelila opened #369 "Alerts widget updates"
Hi @lhilarides, just to let you know that everything is set on our end for you to update the Alerts widget.
David Inga is working on the documentation so you can give it a try!

[2022-02-18 22:54] lhilarides commented on #333
Hi @aagm : thanks for explaining! The terrestrial class is also needed as there are many terrestrial protected areas that overlap with the mangrove extent layer. Not including the terrestrial areas in the stats or on the map would mean our statistics for mangrove extent in protected areas per country become meaningless. Just to clarify: "terrestrial" areas can also be located in areas you and I wo

[2022-02-22 10:05] AngelArcones commented on #342
Hi @klongleywood
I've reviewed the data you shared, and I am not sure it is the best suit as it currently is. The main issue is that the normalized data is just the total data divided in every case by country area, so the results of plotting that are proportionally the same as with total data, just in smaller units.
Data by intervention seems like a good a approach, but mangrove data still comes f

[2022-02-23 19:13] klongleywood commented on #330
@AngelArcones here is the updated mangrove biodiversity list. I've highlighted the countries in our list that don't have an entry in the list you provided (because this data was based on an earlier mangrove map). I can provide a copy where I've deleted these, if you like, but I thought I'd keep them in there just in case the new baseline data includes any of those missing countries. Otherwise, the

[2022-02-24 09:00] AngelArcones commented on #342
Hi @klongleywood , we have a follow-up to the previous comment.
Since the NCS mitigation data (total or normalized by area) was not the ideal too highlight the importance of mangrove conservation/restoration, we explored a little more into the data and came up with an alternative approach:
We used NCS data from [this paper](https://royalsocietypublishing.org/doi/10.1098/rstb.2019.0126), which I be

[2022-02-24 14:03] klongleywood commented on #342
@AngelArcones thank you for this!! I'm very optimistic that this approach will work, but let me just reach out to the rest of my team to confirm. I think the data from this paper is appropriate to use. I will ask about grouping too. Thanks for continuing to think creatively on this.

[2022-03-07 17:17] klongleywood commented on #342
@AngelArcones I spoke to my team about this on Friday and they have some concerns about the data used in this paper. They are going to try to find data on the area of each intervention so that we can normalize by that rather than normalizing by total land area. If they can't track that down, we'll just forget about the comparative data and just show the stats for the mangrove interventions.

[2022-03-07 17:39] AngelArcones commented on #330
@klongleywood I believe this was the approved design (instead of a list of names, which was the other option), but let us know if anything has changed.

![Screenshot 2022-03-07 at 18 37 19](https://user-images.githubusercontent.com/57727579/157087977-1af601a3-d006-469c-bfc6-e75af80fb62c.png)

[2022-03-09 08:33] aagm commented on #333
Hi! latest wdpa data updated:
this is the[ Link to download](https://storage.googleapis.com/mangrove_atlas/boundaries/processed/wdpa_protected_areas_public.zip):

* Filtererd by Status, we are removing those areas that have the status = proposed.
* We are also filtering by the geometry of the the mangrove coverage layer.
* We are repairing the geometries but we have not apply any simplification al

[2022-03-11 15:07] AngelArcones commented on #342
Hi @klongleywood ,
following up on what we discussed about the fishing widget on ecosystem services, I share the different ideas I showed on our call for you to review and discuss with the team.
(designs are a bit rough, they were just too visualise some options)

Donut with values for each group:
![Screenshot 2022-03-11 at 16 05 33](https://user-images.githubusercontent.com/57727579/157893629-b84

[2022-03-23 12:52] klongleywood commented on #342
@AngelArcones I'm waiting for feedback from my team on the above design decision related to the fish enhancement. Should we put this question in another thread since it relates to another tool (not the climate and policy widget)?

For the climate and policy widget, I found data that normalizes some of the mitigation options by area of opportunity rather than total land area, so I think that will s

[2022-04-01 18:29] klongleywood commented on #342
@AngelArcones I got a suggestion today from the team doing this model. They asked if we could emulate the style of the graphic in Figure 4 of this paper https://link.springer.com/article/10.1007/s12237-021-00935-0/figures/4  where we have an little icon of a fish, a crab, and a shrimp (right now these are both lumped in to inverts but in the new data we will have them separated), and then the catc

[2022-04-06 16:00] klongleywood opened #375 "Mismatch between extent change and area extents"
The consultant working on developing training materials brought this issue to our attention and wanted to check with you:

For Guatemala, the change in extent reported between 1996 and 2016 is **5.38**km2, but if you go to the habitat extent widget, the 2016 extent is reported at 241.29  and the 1996 extent is reported at 246.70 (difference of 5.41). Kind of minor but still noticeable. Any reason

[2022-04-08 12:46] dhakelila commented on #375
@aagm , @AngelArcones Could you check this?

[2022-04-10 20:42] lhilarides opened #378 "Legend in Mangrove Blue Carbon widget doesn't correspond to map layer"
The legend in the Blue Carbon widget does not correspond to the colors on the map. The map layer is good, the widget is wrong. Probably all that's needed is to switch the HTML codes of the colors. The color that is now used for the (700-1400) category should be used for the highest category

![image](https://user-images.githubusercontent.com/3919721/162638862-e58345c9-79c7-4973-a2f8-7e6f9ac83d3b.p

[2022-04-10 20:47] lhilarides opened #379 "on/off button in widget not activated when layer is disabled on the map"
When a layer is disabled on the map, the corresponding on/off button in the widget is not switched off. When you want to re-enable the layer you then first need to switch the widget button off before you're able to switch it on again.

![image](https://user-images.githubusercontent.com/3919721/162639087-823b517f-95b8-419d-9b96-76d7ccb78cb1.png)

[2022-04-10 20:49] lhilarides opened #380 "mangrove disturbance alerts no longer filtered when selecting a country"
When I select a country, the mangrove disturbance alerts widget doesn't respond. It just always show the total number of disturbances wordwide

![image](https://user-images.githubusercontent.com/3919721/162639209-fe67af66-8640-4af6-a3a5-ae6fcb7ad498.png)

[2022-04-19 07:53] dhakelila commented on #378
@mluena , can you take a look?

[2022-04-19 07:54] dhakelila commented on #379
@mluena , can you take a look?

[2022-04-19 07:55] dhakelila commented on #380
@mluena , can you take a look?

[2022-04-21 22:04] klongleywood commented on #342
@AngelArcones and fyi @lhilarides and @dhakelila

I'm attaching a table that can be used to compare mangrove climate mitigation opportunities to other land use climate mitigation opportunities, where the denominator is the total area of opportunity in hectares -- this, I believe does the trick of communicating the high values of mangrove per hectare. The last column on mangrove restoration has dat

[2022-04-22 11:35] mluena commented on #378
This problem has been solved and is ready for deployment. Heroku has internal problems (it has been down for a few days already), this will be updated as soon as they fix it

[2022-04-22 11:35] #378 closed

[2022-04-22 11:35] mluena commented on #379
This problem has been solved and is ready for deployment. Heroku has internal problems (it has been down for a few days already), this will be updated as soon as they fix it

[2022-04-22 11:35] #379 closed

[2022-04-25 20:16] lhilarides opened #388 "Mangrove alerts widget does not appear on Safari browser"
A user reported the mangrove alerts widget does not appear when visiting globalmangrovewatch.org using the chrome browser. I've verified via zoom / screen sharing

[2022-04-25 21:02] mluena commented on #388
Thanks for reporting it. I’ve just checked it on my phone and the widget seems fine for both safari and chrome, I’ll take a deeper look tomorrow from my laptop. Do you know which version was the user using?

[2022-04-26 07:02] mluena commented on #388
Forget about the version, I cleaned my cache and it disappeared. The problem seems to come from data fetching, it throws an error and we don't show the widget when there is no data. Alicia is looking into this as is part of the same issue reported (alerts widget not updating when changing location).

[2022-04-29 19:34] klongleywood opened #393 "Issue with reporting loss in Mangrove Net Change"
@dhakelila and fyi @lhilarides

Another issue caught using the training exercises -- I'm looking at the Mangrove Net Change widget for Mexico -- overall, the tool reports a loss from 1996 to 2016, but in the visual/graph, every year shows a gain. I can't capture it in the screenshot but if I hover, any loss values are null (they read NaN km2).  I'm seeing that bug in other countries too (Banglades

[2022-05-02 15:17] klongleywood commented on #388
Just noting that this is still an issue (I'm using Chrome)-- we'd like to highlight this feature during our GMW workshop this week so any updates would be appreciated fyi @dhakelila @lhilarides

[2022-05-03 07:34] dhakelila commented on #388
Hi @klongleywood, we have identified the issue and we still need to fix it. We'll do it asap.

Can you tell me the exact dates of the workshop? I have "early may" in my notes.

Sorry for the inconvenience.

[2022-05-03 12:09] mluena commented on #393
thanks for reporting it, I'll look into this today

[2022-05-03 12:10] mluena commented on #388
@klongleywood, @lhilarides which link will you use for the workshop? staging or production?

[2022-05-03 14:48] mluena commented on #388
ok, I'll update production tomorrow morning with some of the bugs fixed. We are still working on the alerts. By any of the layers you mean for any widget?

[2022-05-03 14:49] klongleywood commented on #388
Yes, she is not able to see any of the layers! Again, I'm not having the same problem.

[2022-05-03 14:50] mluena commented on #388
I checked as well and everything seems fine in Safari. I'll check it tomorrow again as soon as I update production

[2022-05-03 20:55] klongleywood commented on #380
FYI @lhilarides @dhakelila @mluena  this is still an issue. Our training consultant would like to do a live demo of this feature at the GMW workshop on the morning of May 10th -- is there any chance this could be fixed by then?

[2022-05-03 21:01] klongleywood commented on #388
@mluena and fyi @dhakelila -- Can you let me know when you update production? I just got more details on this from our training consultant. She has cleared her browser cache, updated her computer's operating system, tested on multiple computers (both macs) and multiple internet connections and still no success. I just did a screen share with her today to confirm it's not a user error. She also thi

[2022-05-04 08:10] dhakelila commented on #380
@klongleywood we are working on it right now. It should be fixed by the 10th.

[2022-05-04 13:34] klongleywood commented on #380
@mluena thanks for looking into this. I see that the bug was fixed in the widget, but now the alerts are not showing up on the map. Is this something you're still working on?

[2022-05-05 09:03] mluena commented on #393
Solved in staging and production

[2022-05-05 09:03] #393 closed

[2022-05-05 09:06] mluena commented on #380
you should be able to see everything (including safari, let me know if it's not the case)

[2022-05-05 09:06] #380 closed

[2022-05-05 09:06] #388 closed

[2022-05-05 15:07] klongleywood commented on #380
Sorry @mluena but I still can't see the alerts show up on the map. I'm in Chrome and I've cleared my cache.

[2022-05-06 14:55] klongleywood opened #400 "layer switcher not working"
The toggle button to turn layers on and off doesn't move -- for some layers you can still turn a layer on (but not off), for others, it does not work at all.

[2022-05-06 15:28] mluena commented on #400
fixed!

[2022-05-06 15:28] #400 closed

[2022-05-12 12:37] klongleywood opened #401 "Change alerts showing different statistics for different users"
We were doing a demo of the change alerts on our workshop this morning, and we had users do a quick exercise to see how many change alerts were in Tanzania between June 2020 and September 2020. We ran into an issue because some users got 8 (including @lhilarides ), while others got 5 (including me). We don't think this is user error because we double checked the workflow live. Any idea why this mi

[2022-05-12 12:49] klongleywood commented on #401
![image](https://user-images.githubusercontent.com/54109064/168078406-bcde79e4-fcf2-471e-9666-ec291296ec7b.png)

[2022-05-12 19:41] klongleywood commented on #401
I know -- it's super weird!! @lhilarides is getting 8 so maybe he can post a screenshot or you could work with him to identify the issue?

[2022-05-13 08:12] lhilarides commented on #401
Doesn't matter what I do, I always get 8 alerts in this period
![image](https://user-images.githubusercontent.com/3919721/168240442-eb878f68-f4b7-41ab-95a4-4551d36164a1.png)

[2022-05-13 08:19] lhilarides commented on #401
Now that I compare the two screenshots by Kate and me, I notice that some months are missing from the X-axis in the graphs. In Kate's version the month of June or July ("J") is missing, in my version the month of August is missing ("A").

I tried another time, and now the months interval seems to be incorrectly displayed:
![Uploading image.png…]()

[2022-06-24 12:59] lhilarides opened #411 "Disturbance alerts widget: months without alerts are not shown in the graph"
In the disturbance alerts widget, the months without any alerts seem to be removed from the graph, which is confusing because months are only indicated with their first letter. See the example below where people easily mistake the A of August for April. I think it's best to show all months between the first and last month selected.

![image](https://user-images.githubusercontent.com/3919721/175540

[2022-06-24 14:37] klongleywood commented on #342
@AngelArcones we agree that the second design is best -- please move forward with that. The only requested change is to have the horizontal axis labels be horizontal. Thank you!

[2022-06-27 12:35] lhilarides opened #412 "Disturbance alerts widget: fix the date selection list scrollbar"
See screenshot below: in the disturbance alerts widget, when there are more than 11 months in the date selection list, the scrollbar doesn't function correctly resulting in date options not being visible

![image](https://user-images.githubusercontent.com/3919721/175942965-94ba1e1c-a821-42f2-8e86-38592eed3cf3.png)

[2022-06-28 19:58] #411 closed

[2022-06-28 20:00] lhilarides commented on #369
Managed to upload the full dataset this morning. @aagm has a few improvements to the documentation written, but (I think) not committed yet. After this the issue can be closed

[2022-06-28 20:02] lhilarides commented on #401
Another one, probably related to this, that I ran in to this morning (hint: the start date for alerts is January 2020, there are no alerts in 2019):
[29f9bab](https://github.com/Vizzuality/mangrove-atlas/commit/29f9bab40e724faafffca84628576986fa2321a4)

[2022-06-28 20:12] lhilarides commented on #412
Thanks @mluena , that's a lot better! One small request: could you enlarge the width of the dropdown list, so that it doesn't get a horizontal scrollbar when the month in the selector has a short name? See below:

![image](https://user-images.githubusercontent.com/3919721/176275987-6938ed34-77bf-490d-9e1e-c1a86a53bc22.png)

[2022-07-04 14:07] dhakelila commented on #401
@mluena did we solved the two issues referred to in this thread?
I think you did for the second one but not sure for the first one.

[2022-07-04 17:02] lhilarides commented on #401
Both issues still happening, but I think they are connected. If we fix 1, the other is also fixed. What I suspect is happening: the BigQuery sql in the Cloud Function creates a month field from a date value. This transforms a date (e.g. 2022-07-04) into the first day of the month (2022-07-01). This is then interpreted as a UTM time, which causes browsers with settings behind UTM time (anything acr

[2022-07-05 21:12] lhilarides commented on #401
Has been fixed by changing the cloud-function code

[2022-07-05 21:12] #401 closed

[2022-07-05 21:18] lhilarides opened #418 "Mangrove Net Change bug: inconsistent layers showing"
Steps to reproduce:
1. Load the homepage
2. Zoom into any area with a lot of change (Guinea-Bissau, Niger Delta, Mahakkam Delta, etc.)
3. Switch on the Mangrove Net Change Layer
4. Change the end-year from 2016 to 2015
5. Change the end-year back to 2016
6. All change polygons have now disappeared

In general the switching between start- and end-years seems to produce very random results after the

[2022-07-05 21:35] lhilarides opened #419 "Update Mangrove extent to GMW version 3.14"
Update mangrove extent layer and statistics to GMW v3.14

[2022-07-05 21:37] lhilarides opened #420 "Re-calculate the coastline coverage statistics for GMW v3.14"
Re-calculate the coastline coverage statistics for GMW v3.14. There should be existing scripts to do this (from Edward)

[2022-07-05 21:40] lhilarides opened #421 "Update Mangrove net change to GMW version 3.14"
1. Update the layer with GMW v3.14 change features between all the years
2. From the widget: remove the gross gain/loss numbers so that only the net change remains (the black line in the graph)

[2022-07-07 19:36] klongleywood commented on #342
Hi @AngelArcones and @dhakelila -- happy to report I finally have updated NDC data for the climate and policy widget.

As noted during the last call, we have a slight modification to the first blurb on the International Status Panel under NDC targets. Currently, it reads: Country's NDC target is xx mt CO2e/yr by xx year, which represents less than .01 of its GHG" It should now read as follows. I'm

[2022-07-08 11:36] dhakelila commented on #421
@aagm , as Lammert was asking in his email, could you assess which is the best format for us to upload the new data?

Original message:

Hi Clara, Alicia,

We have a final version of the GMW version 3 (paper to be submitted this week). I wanted to check with you how best to deliver the data to you. We have geopackage (vector) and geotiff (raster) but can change this to any format. If it has to be

[2022-07-11 07:29] #317 closed

[2022-07-11 07:29] #316 closed

[2022-07-11 07:44] #314 closed

[2022-07-11 07:44] #283 closed

[2022-07-11 07:45] #291 closed

[2022-07-11 07:45] #292 closed

[2022-07-11 07:45] #315 closed

[2022-07-11 07:48] dhakelila commented on #320
@lhilarides this works correctly for me. Can you confirm?
If' it's working, please, close the issue.

[2022-07-11 07:49] #328 closed

[2022-07-11 07:54] dhakelila commented on #331
@mluena, @aagm  this is relevant when updating the restoration layer.

[2022-07-11 07:57] dhakelila commented on #333
@aagm I think this is still relevant for the WDPA task at hand

[2022-07-11 08:39] dhakelila commented on #369
@aagm , Are you done with the edits on the documentation?

[2022-07-11 08:40] dhakelila commented on #375
Closing this issue as the new data should solve this

[2022-07-11 11:35] dhakelila commented on #322
If the need is to have labels on the satellite basemap, we need to bring them in.
Is that what you need? Showing the labels?
@lhilarides

[2022-07-11 11:49] dhakelila commented on #369
@aagm please, add the link to the updated documentation

[2022-07-11 11:50] dhakelila commented on #369
@lhilarides docs updated. https://github.com/Vizzuality/mangrove-atlas/tree/develop/cloud-functions

[2022-07-11 11:50] #369 closed

[2022-07-11 19:58] dhakelila commented on #342
Understood! Thank you!

[2022-07-11 20:39] dhakelila opened #426 "Typological information display when clicking on the map"
As discussed long ago, when the user clicks on the restoration layer, they will get additional information about those areas (typological units) in a tooltip.

This post aims to clarify the details and align both teams on what will be implemented. Please, @klongleywood , @lhilarides let us know if you agree with the description below.

(1) The behaviour
- User clicks on the map
- A tooltip shows i

[2022-07-12 15:25] lhilarides opened #427 "Update mangrove biomass and height data to version 3"
New raster data for mangrove biomass and height based on GMW extent version 3 (as well as statistics), can be downloaded from:

https://www.dropbox.com/sh/ruk6m9btrkqb73b/AAC8lWSe7nOfDGzrapMR_uqRa?dl=0

I propose we use this dataset to build capacity with @klongleywood and myself to update datasets in the future
- ingestion in GEE
- create tilesets
- update country and site statistics

[2022-07-12 15:40] lhilarides commented on #320
I've just tested in in Chrome and Firefox on Windows 10, but in both cases the bug is still there. Steps to reproduce:
1. Open the site
2. Click on a country so the map zooms in to that country
3. Resize the window
4. You'll be zoomed out

[2022-07-13 13:38] klongleywood commented on #426
Hi both -- I agree with Lammert's comments and wanted to add that we won't have the degradation data ready, so that metric should be removed.

[2022-07-13 19:41] klongleywood commented on #342
@dhakelila @AngelArcones -- I've updated the data for the investible carbon panel of the tool in the attached table. Please let me know if you have questions.
[Investible_Blue_Carbon_Update_20220713.csv](https://github.com/Vizzuality/mangrove-atlas/files/9105433/Investible_Blue_Carbon_Update_20220713.csv)

[2022-07-13 20:35] klongleywood commented on #342
I just deleted my last post on the investible carbon panel b/c it turns out I was using data from 2016 -- I'll have data from 2020 later this week

[2022-07-15 12:26] dhakelila opened #438 "Widgets re-calculation"
After the update of the Extend data and the inclusion of the new WDPA, some of the widgets must be recalculated. Either to update the values or to include these new areas: Extent, Net change, biomass and height.

The Blue Carbon widget will also need recalculation, but as there will be an update on this dataset, soon (September) we'll wait to have that new data to get it done.

Lammert will liaise

[2022-07-15 19:42] dhakelila commented on #427
It seems this task doesn't below to the current scope.

Lammert is proposing that Vizzuality only takes care of the tiles generation. As it is out of the scope, we'll check how long it might take, but we'll only do it if it takes a very few hours. I'll let you know.
We can always create a contract amendment to include it.

@lhilarides, @klongleywood, please, let me know if you agree.

[2022-07-15 19:53] dhakelila opened #440 "Blue carbon widget note about incoming data"
Hi @klongleywood , as discussed during our meeting, we'll include a note on the Blue Carbon widget to let the users know there is new data coming soon.

Please, provide the text. :)

[2022-07-15 19:57] dhakelila commented on #421
@lhilarides, follow the conversation so Alicia can provide the information asap.

I understand this task is only about the Net Change map layer, and therefore, it's complementary to the ["widgets recalculation](https://github.com/Vizzuality/mangrove-atlas/issues/438)" task that I created.

[2022-07-15 19:58] dhakelila commented on #419
Data is still to come.

[2022-07-15 20:01] dhakelila commented on #329
@aagm , it seems this task was not completed. Can you check?

[2022-07-15 20:24] dhakelila opened #441 "Restoration widget ready for text revision (waiting for new data)"
The restoration widget is ready for text revision. A few little issues will be solved as soon as possible, but you can already review titles, texts, and wordings.

Please, send the desired text in this issue

[2022-07-15 22:18] lhilarides commented on #333
I've updated the "mangroves in protected areas" data for GMW version 3.14. This can be dowloaded here:
https://wetlandsint-my.sharepoint.com/:x:/g/personal/lammert_hilarides_wetlands_org/Ed4f0IFoEN9Ou1qoKT1PM94BYU_1t9wzY-N6QYJQvly8uA?e=Pzoas0

can you upload this to the api @aagm ?
also @klongleywood , here's the long awaited data

[2022-07-18 06:56] dhakelila commented on #438
From Lammert via email:

Just a quick update that Pete can produce the statistics for the protected areas next week. I will send him the WDPA vectors I used for the protected area calculations. Those are based on the July 2022 update of the WDPA and have fixed geometries. To prevent confusion and version issues I will ask Alicia to use this same WDPA vectors to update the vector tiles.

@aagm FYI

[2022-07-18 07:20] dhakelila commented on #438
@lhilarides , @klongleywood , @aagm

Hi Lammert, I don't know why we would need to recalculate those tiles.

Alicia sent you the WDPA data long ago for you to create those numbers, which you sent us and what we incorporated on Friday.
So all that should match.

Why do you think there is a need to recalculate the tiles?
Have you used something different than what Alicia sent you to do your calculat

[2022-07-18 08:41] aagm commented on #438
@lhilarides  I would also suggest doing a small sync with Pete in order to prepare a course of action for migrating the GEE scripts from Ed that are currently in javascript into this repo as python notebooks. Within the scope of recalculating the data.

[2022-07-18 09:31] lhilarides commented on #333
The data sent last week came from UNEP-WCMC's Oceans+ platform but was still based on GMW v2. We'd like the numbers between Oceans+ and GMW to correspond, but since WCMC don't have time to update to GMWv3 now we have to calculate this ourselves for the time being. I tried to do this with the WDPA dataset provided above, but this contains >20.000 protected area boundaries, 17.000 of which don't hav

[2022-07-18 09:56] lhilarides commented on #440
How about this:

"This information is based on an outdated GMW version. Please use for reference only while we are in the process of updating this to the latest GMW version 3."

Maybe show it in a light italic font just above the normal widget text, so it stands out a bit but doesn't distract too much

[2022-07-18 10:00] lhilarides opened #442 "[Bug]: Mangrove Blue Carbon donut doesn't correspond to legend"
In the Blue Carbon widget the colors of the donut are not in the same order as in the legend. See below, these two color should be switched. Please make sure the percentages to correspond to the correct classed.

![image](https://user-images.githubusercontent.com/3919721/179488604-caefa049-f181-4669-980f-cfbf5e9cbd8e.png)

[2022-07-18 11:24] dhakelila commented on #440
Sounds good to me!

[2022-07-19 12:59] lhilarides opened #443 "[Bug]: widgets keep reloading when zoomed in to country level"
On staging.globalmangrovewatch.org , when you click on a country boundary and zoom in to the country, the widgets continuously reload (every 2 seconds). They should load once and then be static.

### Steps To Reproduce:
1. staging environment
2. using latest firefox and chrome on windows 10 pro 64bit
3. open site, click on a country boundary (tested with Nigeria and Benin)
4. see screenshot below

[2022-07-19 13:23] lhilarides opened #444 "Categories, layers and display levels"
In the current staging environment the not all layers are displayed in the correct categories and at the correct levels. I have made an overview of each category, corresponding layers and the correct display levels (global, country, site) in the attachment. Please follow this overview for the release and let me know if there's any questions!
[GMW - categories - layers and levels.xlsx](https://gith

[2022-07-20 08:00] dhakelila commented on #329
@lhilarides could you share the new GADM geometries you'd like us to use?

[2022-07-20 08:16] dhakelila commented on #427
Hey Lammert, this update was not included in the scope. Can we create an amendment to include it and all the potential updates and changes related to the new data?

[2022-07-20 10:58] dhakelila commented on #443
Hi Lammert, I agree we need to solved this asap but I'm not sure this will be ready for the release. We'll do our best.

[2022-07-20 11:07] dhakelila commented on #319
Hi @lhilarides , @klongleywood we are working on this to improve the quality of the report.

One of the issues we were trying to solve is the fact that some widgets get cut when we print one after another. It is hard to control when the widgets should jump to a new page, so we decided to print just one widget but page. This creates a lot of white space on the pages so we thought it could be good t

[2022-07-20 18:41] lhilarides commented on #329
You can download it here: https://wetlandsint-my.sharepoint.com/:u:/g/personal/lammert_hilarides_wetlands_org/ER0GnDINnxJLl62ZMm9pzG8B8EYOJdPsoVQ4C181QQ5JlA?e=DMfsjh

The column "gid_0" has the ISO country code, please ignore the other columns with country codes

[2022-07-21 08:22] dhakelila commented on #427
Update from Lammert about the colors:
Hi Alicia,

Thanks! You can find the intervals for mangrove biomass and height in this post on GitHub: https://github.com/Vizzuality/mangrove-atlas/issues/427#issuecomment-1188824852
Please do stick to the original colors on the website, the colors in the excel file are just for illustration.

[2022-07-21 08:27] dhakelila commented on #319
Hey @klongleywood, I hear your concerns and your need. Let us think about how to approach this.
I anticipate that having everything in one page is gonna be very hard since the widgets are bigger than that.

@mluena

[2022-07-21 11:22] lhilarides commented on #319
I prefer your suggestion @klongleywood . I'm not sure we can therefore finalize this before the 26th. That would be OK for us. Maybe best then to remove the "Download report as PDF" button now and re-enable it in a couple of weeks when we have a proper report

[2022-07-21 11:31] lhilarides opened #452 "DATA UPDATE: WDPA areas Above Ground Biomass and Height"
This file has the mean Above Ground Biomass (column agb_avg) and mean Height data (hchm_avg) for the WDPA areas. The first column has the WDPAID for each individual area

Please note: this file also has a column agb_tot for total biomass, but we do not use that (yet)
[protected_agb_hgt_summarised_base_stats.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9158915/protected_agb_hgt_summaris

[2022-07-21 11:38] lhilarides opened #453 "DATA UPDATE: WDPA areas mangrove extent and change"
This file has the mangrove extent for each WDPA area for each year. The unit is heactares (ha). The net change between years can be calculated by simply subtracting the extent of one year from the other. Please note: we no longer show the gross gain and gross loss.
[protected_area_v3_corrected_ext_stats.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9158938/protected_area_v3_corrected_ex

[2022-07-21 15:34] lhilarides opened #460 "DATA UPDATE: Mangrove Biomass and Mangrove Height donuts - countries and WDPA"
Attached the statistics to update the "donuts" in the widgets for mangrove biomass and mangrove height.
Biomass donuts countries:
[gmw_v3_agb_summary_bounds.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9160626/gmw_v3_agb_summary_bounds.xlsx)

Biomass donuts WDPA:
[gmw_v3_agb_protect_area_bounds.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9160627/gmw_v3_agb_protect_area_bou

[2022-07-21 15:43] lhilarides opened #461 "[Bug]: clicking on a country no longer zooms in to that country on the map"
### Current Behavior:
When you load the homepage and click a country the map no longer zooms in to that country

### Expected Behavior:
The map zooms in to the country you click

### Steps To Reproduce:
1. staging environment
2. start at home page
3. click on Nigeria (or any other country)
4. widget data loads for country but on the map nothing happens....

[2022-07-21 15:58] dhakelila opened #463 "Species and Protected areas widget ready for your revision"
@lhilarides, @klongleywood Species and Protected areas widget are ready for your revision.
Please, let us know if you are ok with those, and we'll deploy them to the production site.

[2022-07-21 16:00] dhakelila opened #464 "Preparing for release"
Hi @klongleywood , @lhilarides we got much of the features working and bugs fixed.
I'll review the threads to let you know.

Please, let us know what should we deploy for the 26th and we'll organize everything to get deployed tomorrow.

Monday is a bank holiday in Spain.

[2022-07-21 16:03] dhakelila commented on #329
Thanks, Lammert, we'll take care next week!

[2022-07-21 19:42] lhilarides commented on #463
I like the looks of the Species widget. I just did some quick testing and it's probably still under development a bit, so some of this might have been addressed already. Anyway, here's some feedback

1. The widget doesn't appear on the Country level
2.  please use the official colors of IUCN for the legend. The colors used now have different meanings than the official ones so that may be very conf

[2022-07-21 20:14] lhilarides commented on #463
Feedback on the Protected Areas widget:
1. the donut goes "counter-clockwise", whereas donuts in other widgets go clockwise. Would be good to be consistent in this
2. please add the switch for ha/km2 like we have in all widgets with areas
3. could you add a small image of a protected area as a legend? To make the connection to what people see on the map?
![2022-07-21 21_44_59-Global Mangrove Watch

[2022-07-21 20:17] lhilarides opened #466 "[Bug]: staging environment no longer shows any layers on the map"
In the staging environment no layers are displayed on the map when you toggle them on

[2022-07-21 20:32] lhilarides commented on #330
Re-opening this as I can't find some of the data, at least not on the global level (country level doesn't display at all). The source data has 63 species, but in the staging environment I only see 44 species mentioned globally. One example is Camptostemon philippinense. This is an Endangered species and because there are so few endangered species, missing one will be noticed by visiting experts im

[2022-07-21 21:01] klongleywood commented on #330
@lhilarides @dhakelila I'm also not seeing the data appear at the country level, but would like to do some ground-truthing of the total numbers before we release given the issues with the global summary.

Also, in the staging app there are only 4 categories -- can we double check that there are no mangrove species that are considered data deficient or vulnerable?

We also need to add the following

[2022-07-22 08:32] dhakelila commented on #463
@lhilarides two questions about the Protected areas feedback:

- _the donut goes "counter-clockwise", whereas donuts in other widgets go clockwise. It would be good to be consistent in this_ → This widget only has 2 categories. The order is irrelevant, isn't it?

_could you add a small image of a protected area as a legend? To make the connection to what people see on the map?_ --> Understood the

[2022-07-22 09:53] dhakelila commented on #330
Thank you for reporting, we are trying to fix this.

[2022-07-22 10:09] dhakelila commented on #466
Thank you for reporting! It's already fixed:
https://www.loom.com/share/4b4790f7de27484f9fe09a2c7a2ab93d

[2022-07-22 10:12] dhakelila commented on #461
Fixed: https://www.loom.com/share/9a98216f86b14001addd160e72192055

[2022-07-22 10:14] dhakelila commented on #460
Hi @lhilarides, we don't feel comfortable adding this before the release. We'll do it next week.

[2022-07-22 10:19] dhakelila commented on #443
Fixed! https://www.loom.com/share/4b07bbd4eed3408b840a36181e1d25ab

[2022-07-22 10:20] dhakelila commented on #442
<img width="568" alt="Screenshot 2022-07-22 at 12 19 54" src="https://user-images.githubusercontent.com/6608294/180419193-a67407b5-9656-461c-9b68-629a425d0e44.png">
Fixed!

[2022-07-22 10:20] dhakelila commented on #440
Done:
<img width="435" alt="Screenshot 2022-07-21 at 17 29 23" src="https://user-images.githubusercontent.com/6608294/180419289-0ed734e9-c486-424c-af4e-7eb1ede3bcce.png">

[2022-07-22 10:22] lhilarides commented on #460
Hi Clara, I don't get it, this is the data we agreed to calculate for you on Monday? If this data is not in then we can't show the biomass and the height widgets and layers at all

[2022-07-22 10:23] dhakelila commented on #418
Done: https://www.loom.com/share/0d4de010c89b47648ef9e00bf3d0e607

[2022-07-22 10:24] dhakelila commented on #440
Done:
<img width="579" alt="Screenshot 2022-07-22 at 12 24 11" src="https://user-images.githubusercontent.com/6608294/180419878-eff2f853-f376-4321-a591-b73c574cedaf.png">

[2022-07-22 10:25] dhakelila commented on #412
<img width="228" alt="Screenshot 2022-07-22 at 12 25 44" src="https://user-images.githubusercontent.com/6608294/180420107-7807b4a8-2b94-4187-ac27-758d4cd050cb.png">
Done

[2022-07-22 10:25] lhilarides commented on #463
These remaining two points are not urgent, so fine to postpone until after the 26th and check with the designers first

[2022-07-22 10:30] lhilarides opened #472 "[Bug]: bottom widget is collapsed by default in certain categories"
1. Open staging environment
2. Click on the "restoration and conservation" or the "ecosystem services" category
3. This is what you see (the bottom widget should be expanded by default)

![image](https://user-images.githubusercontent.com/3919721/180420527-bc4de1b1-9bd4-400f-b9d5-60f36a94d353.png)

[2022-07-22 10:34] lhilarides commented on #444
I still see many differences between the overview file and the staging environment. Can you do another check?

For example the mangrove habitat change widget still appears (should be disabled entirely) and the mangrove species widget doesn't appear on the country level

[2022-07-22 11:23] dhakelila commented on #460
Yes, I know, but we got the data yesterday, and we haven't enough time to upload it. We are preparing everything for the release as Monday is a bank holiday here in Spain.
We can hide the widgets, though.

[2022-07-22 11:24] dhakelila commented on #463
Great! Are you ok then if we publish the Protected areas widget in Production already?

[2022-07-22 11:25] dhakelila commented on #444
@mluena , can you check?

[2022-07-22 11:34] mluena commented on #444
Sure! About the habitat change, I'll remove it, the spreadsheet is showing "no" to every location but the release column was marked as yes so I wasn't very sure, sorry about that. Regarding species, I can see it at the country level, if you are missing some countries maybe we need to look into data, example [here](http://staging.globalmangrovewatch.org/country/VNM?map=eyJiYXNlbWFwIjoibGlnaHQiLCJ2a

[2022-07-22 11:52] lhilarides commented on #463
Yes, that would be fine for me. Please do take into account issue #444 as well before deploying

[2022-07-22 12:01] lhilarides commented on #444
Thanks for checking @mluena . The issue seems to be with the data, most countries are missing (I checked 7 but 6 did not have data). See also issue #330 , comment: https://github.com/Vizzuality/mangrove-atlas/issues/330#issuecomment-1191905936

[2022-07-22 12:07] lhilarides commented on #444
This is not always true, for example both the species and protected areas widgets can't be shown for WDPA's and AOI's. There doesn't exist any data on this level. The spreadsheet has the correct levels for displaying each widget

[2022-07-22 12:35] lhilarides commented on #418
Re-opened: instead of disappearing, the polygons do appear now but do not change when you select different years. See the two screenshots below, that show two distinct periods but the exact same gain/loss on the map:
![2022-07-22 14_03_36-Global Mangrove Watch — Mozilla Firefox](https://user-images.githubusercontent.com/3919721/180440183-dc23fa06-b25e-42ce-8f90-1c071f0b261a.png)
![2022-07-22 14_03

[2022-07-22 12:39] lhilarides opened #474 "Add legend back to Mangrove Net Change widget"
When the gross gain and gross loss were removed from graph in the Mangrove Net Change widget, also the legend was removed. However, we still do need the legend to explain what the map layer shows. I suggest to use the following:
green rectangle = mangrove gain
red rectangle = mangrove loss

black line = mangrove net change

[2022-07-22 14:38] lhilarides commented on #421
It seems we were waiting for each other... Here's all the download links:

v3.14 vector (geopackage)
https://www.dropbox.com/s/g8n05ll44cy2od1/gmw_v3_fnl_mjr_v314.gpkg.gz?dl=0

v3.14 rasters (geotiff)
https://www.dropbox.com/sh/vm8498yhcqd7mt8/AABn_Lhlsjjcy1WBFSrjlyEBa/gmw_v3_extent/gtiff?dl=0&subfolder_nav_tracking=1

[2022-07-22 14:39] dhakelila commented on #421
@aagm Please, let us know if this is ok for us to ingest the Extent data.

[2022-07-22 14:54] dhakelila commented on #474
@mluena I think this went away when we removed the areas from the chart.
Can you manually include the legend on the widget as @lhilarides proposed?

[2022-07-22 14:57] lhilarides opened #475 "[Bug]: Mangrove Protection widget shows the wrong area in the donut when selecting km2 as unit"
![2022-07-22 16_53_30-Clipboard](https://user-images.githubusercontent.com/3919721/180466146-f906bd3f-0291-4138-a296-bb998506404c.png)

[2022-07-22 14:57] lhilarides commented on #475
please also change km to km2 in the donut

[2022-07-22 14:57] dhakelila commented on #460
@aagm , please, add this data as soon as you can.

[2022-07-22 15:00] lhilarides commented on #412
For me still displays like this (select a short month):
![2022-07-22 16_56_39-Global Mangrove Watch — Mozilla Firefox](https://user-images.githubusercontent.com/3919721/180467292-04ad43b2-4c93-4520-a45a-37834a50c78a.png)

[2022-07-22 15:01] dhakelila commented on #444
@mluena biomass and height widgets missing at wordwide. Can you check?

[2022-07-22 15:03] dhakelila commented on #418
@mluena

[2022-07-22 15:05] dhakelila commented on #332
@aagm what is the status of this?

[2022-07-22 15:06] dhakelila commented on #330
@mluena info button is missing text, check message above from Kate.

[2022-07-22 15:10] dhakelila commented on #319
Kate: The idea is to have all the statistics on the same page.

[2022-07-22 15:11] mluena commented on #474
Yes the legend consumes the info from the chart, once you remove that info, the legend goes away. I'll fix it

[2022-07-22 15:19] lhilarides commented on #421
Hi @aagm @dhakelila , the GMW v3.14 geotiffs have been uploaded to the Google Cloud Bucket in this folder: mangrove_atlas/GMW v3.14 geotiffs

[2022-07-22 16:40] dhakelila commented on #421
@lhilarides , @klongleywood I've been discussing with Alicia and there is no way to get this data up before Tuesday.

There are two ways to get it done.

If we can use the vector tiles, we can generate the layer relatively quickly. If everything goes fine and we get no errors, we could be done by next Thursday.

If we need to use the rasters, the process is much slower due to computation time and

[2022-07-22 22:03] lhilarides commented on #421
This file has the Mangrove extents (hectares) for the countries:

[gmw_v314-CORR_FAO-regions_stats_220615.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9172360/gmw_v314-CORR_FAO-regions_stats_220615.xlsx)

I'm fine if you use the vector file if that's somehow faster, but the last time you tried using vectors Ed had to simplify the  geometries and the resulting layers looked terrible. Th

[2022-07-23 20:55] dhakelila commented on #421
Thanks @lhilarides we’ll upload everything asap.

Alicia will consider what to do taking into account your comments. I’ll keep you posted.

[2022-07-23 21:04] dhakelila opened #479 "Widgets ready in production"
@lhilarides , @klongleywood Species and Protected areas are ready in production.

@lhilarides , I saw your message with the bug of the protected areas after deploying to production.

Let me know if you want us to hide the widget although we’ll fix the issue as soon as we can during our Tuesday morning.

[2022-07-25 19:28] lhilarides opened #480 "[Bug]: Mangrove Species widget expanded by default"
1. Production environment
2. When opening a fresh browser tab with globalmangrovewatch.org
3. The Mangrove Species widget is expanded by default, but it is not the last widget in the list, so it should be collapsed.

![image](https://user-images.githubusercontent.com/3919721/180857774-1ac0d239-0027-4cf6-b6a1-33af63a3560e.png)

[2022-07-25 19:30] lhilarides commented on #474
Looks great, thanks! One final request: could you change the text in the legend to "Net change" instead of just "net"?

![image](https://user-images.githubusercontent.com/3919721/180859263-a782a9ac-e59f-44ff-ac48-f7f453086f93.png)

[2022-07-25 19:36] lhilarides opened #481 "[Bug]: the year 2000 has magically appeared in our Mangrove Net Change data"
1. Production environment
2. Open the Net Change Widget
3. You can now choose the year 2000 in the widget, but we don't have (and never had) any data for the year 2000

![image](https://user-images.githubusercontent.com/3919721/180860261-d737d1e3-a406-4a55-860f-35b62a37d281.png)

[2022-07-25 19:50] lhilarides commented on #444
1. Mangrove Species and Mangrove Protection are now displayed in the wrong category (distribution and change instead of restoration and conservation). Problem at World and Country, but not at Site level.
2. At site level (Rufiji for example) the widgets in the Distribution and Change category are all collapsed on opening
3. Mangrove Aboveground Biomass and Mangrove Height are missing from the "Eco

[2022-07-25 20:27] lhilarides opened #482 "[Bug]: Expand / Collapse all widgets button is missing from the Climate and Policy category"
1. Production environment
2. Go to the Climate and Policy category
3. The Expand / Collapse all widgets button is missing here

![image](https://user-images.githubusercontent.com/3919721/180868012-32fa02e9-ec7c-46a6-898c-5bed040d85ab.png)

[2022-07-25 21:38] klongleywood commented on #342
@AngelArcones @dhakelila  and FYI @lhilarides Here are the numbers for the investible carbon card on the climate and policy tool. I included instructions in the column headers but to summarize, Columns F, I, J, and K should be used to populate the pie chart values. columns E and G are labels for the two investible column values in the pie chart. There are also a number of countries that don't have

[2022-07-26 05:51] mluena commented on #482
The button was hidden for categories that have just one widget as there is no option to expand / collapse. To make this more obvious, I put the button back and disabled it for this cases

[2022-07-26 09:42] aagm commented on #333
Also i will add here the link for the geospatial data: https://wetlandsint-my.sharepoint.com/:u:/g/personal/lammert_hilarides_wetlands_org/EUf-aN6kyIFDtX3VZGTFmmUBqcSsFKOYHNVjmBBqTuJ_Sg?e=c7UkjU

[2022-07-26 09:52] #441 closed

[2022-07-26 14:50] dhakelila commented on #342
Hi @klongleywood if I understood it correctly, you are asking to include a logic to either show the donut or a sentence when there is no data for that country. That is not a big deal, but the project's logic so far is that when there is no data available for a country, we simply don't show that card. Do you think we can do the same in this case?

[2022-07-26 14:54] klongleywood commented on #342
@dhakelila that's fine too!

[2022-07-26 14:55] #475 closed

[2022-07-26 14:56] #466 closed

[2022-07-26 15:00] #479 closed

[2022-07-26 15:01] #464 closed

[2022-07-26 15:02] dhakelila commented on #463
Hey @lhilarides the only pending point in this issue is the following one:

the donut goes "counter-clockwise", whereas donuts in other widgets go clockwise. It would be good to be consistent in this → This widget only has 2 categories. The order is irrelevant, isn't it?

It's not clear to us what is needed. Can you clarify?

[2022-07-26 15:06] dhakelila commented on #460
@lhilarides , there is another issue with Biomass and Height data (https://github.com/Vizzuality/mangrove-atlas/issues/452)

Which is the difference? Is all the data complementary?

Please, use a single thread to send related data so we keep everything in the same place. Thanks!

[2022-07-26 15:07] #443 closed

[2022-07-26 15:07] #442 closed

[2022-07-26 15:07] #440 closed

[2022-07-26 15:15] dhakelila commented on #412
@mluena

[2022-07-26 15:15] dhakelila commented on #332
Not done yet. Files were created but we still need to upload them.

[2022-07-26 15:20] #461 closed

[2022-07-26 15:26] dhakelila commented on #342
Great! Thanks @klongleywood

@AngelArcones , @aagm , @mluena . See my comment above regarding this widget and let's follow the logic of the project for consistency.

[2022-07-26 17:49] aagm commented on #421
So below you will find an example of how it will look like (data wise) in a global and a more local view using the vector tile generation Pipe.

![DeepinScreenshot_select-area_20220726194651](https://user-images.githubusercontent.com/9049441/181075876-854c4459-671f-47f4-bb70-0e1dc816e7af.png)
![DeepinScreenshot_select-area_20220726194417](https://user-images.githubusercontent.com/9049441/181075894

[2022-07-26 20:27] klongleywood commented on #342
@AngelArcones @dhakelila fyi @lhilarides

Hi all, I've written some draft info button language for the climate and policy tool. Please note that this is draft and will more than likely change after we have our review of this widget, but if possible, I think it would be helpful to include this draft language in the draft version that we show to reviewers so that they have something to react to, and

[2022-07-27 09:15] aagm commented on #421
One little detail. Raster data is separated by year, but the vectorial one is not. This will also affect the visualization if we want to link the year with the visual on the map.

[2022-07-27 09:25] aagm commented on #427
Hi Lammert!
We have realized that the data for the widget sent was incomplete. Let me explain, so far we need two different paraments across all locations:
* [x] The average height in the location.
* [] The distribution of areas between the different height classes.

On the statistics sent, we only have the data for **partial locations** (countries) and only the **average height** per location.

[2022-07-27 10:22] lhilarides commented on #427
Hi Alicia, that distribution between the classes should also be there. I'm
currently on me phone so not easy to browse through the different issues
and link directly, but it's in the files with data relating to the
"donuts". I now realize that for height we used a bar instead of a donut,
but the data should be there

On Wed, Jul 27, 2022, 11:25 Alicia Arenzana Gil de muro <
***@***.***> wrote:

[2022-07-27 10:42] aagm commented on #427
Confirmed, data can be found in this [issue](https://github.com/Vizzuality/mangrove-atlas/issues/460)

[2022-07-28 16:27] lhilarides commented on #329
@aagm : here's a new version with a fix for the overlapping country boundaries of Malaysia and Indonesia:
https://wetlandsint-my.sharepoint.com/:u:/g/personal/lammert_hilarides_wetlands_org/EUgM0WdyhLZGl59TUba1F5MB7nBtXk2owefV8y7dofZDPA?e=wCsord

[2022-07-30 22:35] lhilarides commented on #332
As mentioned we have new data for Blue Carbon maps based on GMW version 3.

Geotiffs can be downloaded here: https://www.dropbox.com/s/owk125doae7nzzd/total_co2_2018_2020.tar.gz?dl=0

Country total and average CO2e stats:
[Country Soil and Total CO2e.xlsx](https://github.com/Vizzuality/mangrove-atlas/files/9227679/Country.Soil.and.Total.CO2e.xlsx)

WDPA total and average CO2e stats:
[WDPA Soil and

[2022-08-01 08:57] dhakelila commented on #332
@aagm Blue Carbon data ready. From Lammert's message, it seems something is missing that he will send over in September.

[2022-08-02 10:24] dhakelila commented on #426
@klongleywood this was done.

[2022-08-02 10:26] dhakelila commented on #320
@klongleywood ready for testing

[2022-08-02 10:36] #438 closed

[2022-08-02 10:37] dhakelila commented on #418
@klongleywood , @lhilarides this is ready for testing.

[2022-08-02 10:38] #331 closed

[2022-08-02 10:40] dhakelila commented on #330
@klongleywood , info button added. Please review and close the issue if everything looks good to you.
![Screenshot 2022-08-02 at 12 40 19](https://user-images.githubusercontent.com/6608294/182355724-cdfebe13-f12b-4146-8eea-18b436176f36.png)

[2022-08-02 10:53] dhakelila opened #497 "Info buttons missing"
Hi @klongleywood , we got some texts for some of the widgets but we are still missing some of the texts. Can you send those through?

These are the widgets we are missing the info for:
- Mangrove Restoration
- Mangrove Protection

[2022-08-02 13:28] klongleywood commented on #330
Everything looks good except that the IUCN credit currently under License should be under reference instead. Under license we can put N/A since there is no data download here.

[2022-08-02 13:31] klongleywood commented on #497
@lhilarides can you take care of the protection info text when you get back?
I'll draft text for the restoration widget and run it by Tom.

[2022-08-02 14:14] dhakelila commented on #330
@mluena , can you take care of it?

[2022-08-02 14:40] mluena commented on #342
@klongleywood Global Climate Watch redirects to an issue. I think it's worth moving that info to another place and linking there (maybe in wiki?)

[2022-08-02 14:45] klongleywood commented on #342
@mluena  Oops -- copy and paste error on my part. We should link to this site: https://www.climatewatchdata.org/

[2022-08-05 10:57] dhakelila opened #505 "Mangrove investment potential ready for revision"
Mangrove investment potential widget is ready for you to review [in staging](http://staging.globalmangrovewatch.org/?map=eyJiYXNlbWFwIjoibGlnaHQiLCJ2aWV3cG9ydCI6eyJsYXRpdHVkZSI6MjAuMDAwMDAwMDAwMDAwMDA0LCJsb25naXR1ZGUiOjAsInpvb20iOjIsImJlYXJpbmciOjAsInBpdGNoIjowfX0%3D&widgets=eyJoaWdobGlnaHRlZF9wbGFjZXMiOnsiaXNDb2xsYXBzZWQiOnRydWUsImlzQWN0aXZlIjpmYWxzZX0sIm1hbmdyb3ZlX2V4dGVudCI6eyJpc0NvbGxhcHNlZCI6

[2022-08-05 11:04] dhakelila opened #506 "Restoration layer interactivity ready for your review"
Restoration layer interactivity is ready for you to review.

Now, when a user hovers over one of the areas of the Restoration layer, the polygons get highlighted to indicate it can be clicked.
Once user clicks, they get a pop-up with the information of that area.

Although some improvements to the interactivity are still needed, it will be great if you could start reviewing the functionality and c

[2022-08-11 17:35] aagm commented on #332
Hi Lammert!
Just to confirm:
* The layer only have one point in time (not multiple like in the other datasets) and represets the period 2018_2020
I have the code ready to ingest it and generate the layer;
I do understand that similar as what has happend with biomass and height, the categies classes will change. I will then wait to export the tiles until the new classes are computed.

[2022-08-12 13:00] AngelArcones commented on #342
@klongleywood I've made a notebook showing the provisional data processing, implementation of the logic and phrasing for the **international status text widget**.
Feel free to review it from your side and suggest all the needed changes or corrections.
You can access the notebook here:
https://github.com/Vizzuality/mangrove-atlas/blob/data/international_status_notebook/data/notebooks/Lab/data_proce

[2022-08-12 15:20] aagm commented on #329
staging is currently updated with the new locations. So does the maps, that are using the new eez+gadm and wdpa

[2022-08-15 19:47] klongleywood commented on #505
Not sure if anyone will see this as I know everyone is on break, but this has disappeared from staging. I was planning on doing a demo for testing for our climate and policy group on Wednesday. If there's any way to get this easily re-deployed that would be appreciated.

[2022-08-15 20:01] klongleywood commented on #342
@AngelArcones thank you! A few minor edits:

Sentence 1: . Countries with an NDC pledge should have an apostrophe s. For example: “Angola’s NDC pledge contains a GHG target”
Sentence 2: If there is only one target year, we should remove the /s. For example Antigua & Barbuda: The GHG target is a 25% reduction from a baseline in 1990 by target year/s 2030. If there are multiple years, the word shoul

[2022-08-23 20:26] klongleywood commented on #505
@mluena and fyi @dhakelila and @lhilarides -- I still am not able to see this widget on staging and I would really like to be able to review this widget with our climate and policy group. Can you give me a sense of when this will be back up and running? Thank you!

[2022-08-23 20:28] klongleywood commented on #342
@AngelArcones  any updates on when this may be available for me to demo with our climate and policy group? Thanks!

[2022-08-25 16:27] AngelArcones commented on #342
@klongleywood Sorry for the delay! We are now working on an interactive version for this to show and explore, and expect to have it ready on the next days.

[2022-08-26 13:35] mluena commented on #342
@klongleywood in [this link](https://mangrove-atlas-git-feature-international-sta-aff369-vizzuality1.vercel.app/?map=eyJiYXNlbWFwIjoibGlnaHQiLCJ2aWV3cG9ydCI6eyJsYXRpdHVkZSI6MjAsImxvbmdpdHVkZSI6MCwiem9vbSI6MiwiYmVhcmluZyI6MCwicGl0Y2giOjB9fQ%3D%3D&widgets=eyJoaWdobGlnaHRlZF9wbGFjZXMiOnsiaXNDb2xsYXBzZWQiOnRydWUsImlzQWN0aXZlIjpmYWxzZX0sIm1hbmdyb3ZlX2V4dGVudCI6eyJpc0NvbGxhcHNlZCI6dHJ1ZSwiaXNBY3RpdmUiOn

[2022-08-26 14:10] mluena commented on #342
@klongleywood in [this link](https://mangrove-atlas-git-feature-international-sta-aff369-vizzuality1.vercel.app/?map=eyJiYXNlbWFwIjoibGlnaHQiLCJ2aWV3cG9ydCI6eyJsYXRpdHVkZSI6MjAsImxvbmdpdHVkZSI6MCwiem9vbSI6MiwiYmVhcmluZyI6MCwicGl0Y2giOjB9fQ%3D%3D&widgets=eyJoaWdobGlnaHRlZF9wbGFjZXMiOnsiaXNDb2xsYXBzZWQiOnRydWUsImlzQWN0aXZlIjpmYWxzZX0sIm1hbmdyb3ZlX2V4dGVudCI6eyJpc0NvbGxhcHNlZCI6dHJ1ZSwiaXNBY3RpdmUiOn

[2022-08-26 14:20] klongleywood commented on #342
Thanks @mluena! Any chance you can also make the Investible Blue Carbon widget available on staging again? At that point, we'll be ready to test the whole suite of climate and policy tools

[2022-08-26 14:21] mluena commented on #342
Do you want me to include it in the link I've just sent to you, so you will have both of them together?

[2022-08-26 14:22] klongleywood commented on #342
@mluena  yes please!

[2022-08-26 14:52] mluena commented on #342
@klongleywood done! I removed the rest of the widgets and left the widgets related with this one in "distribution and change"category so you don't have to keep changing category. Once it's approved I'll put the rest back in place

[2022-08-26 14:56] klongleywood commented on #342
@mluena -- I just went to that link and now it seems to only be showing the Mangrove Emissions Mitigation and the Blue Carbon widgets. The 4 widgets that I need to have my team review under the Climate and Policy category are.

Mangrove Emissions and Mitigaton
International Status
Investible Blue Carbon
Blue Carbon

If we could put all of these in the same staging environment, that would be very h

[2022-08-26 15:02] mluena commented on #342
ok, let me take a look because those four are exactly the ones I left, so if you are not seeing all of them I need to check where the problem is. I let you know as soon as I fix it

[2022-08-26 15:05] klongleywood commented on #342
@mluena thanks -- I'm now seeing all but investible blue carbon

[2022-08-26 15:16] mluena commented on #342
@klongleywood ok, I see the problem now. For some of them there is no data in the API (we agreed to improve the structure so we cleared the endpoints). For emissions mitigation for example, you are seeing the "placeholder" I put just to check the visualisation. The only one showing real data is investment potential. I'll let you know when data is ready so you are able to see the 4th of them togeth

[2022-08-26 15:18] klongleywood commented on #342
@mluena ok, thank you! Let me know if there's anything else you need from me.

[2022-08-30 13:13] klongleywood commented on #342
@mluena  - just checking in -- when do you think this will be ready? Thanks!

[2022-08-30 15:56] mluena commented on #342
We can´t update the endpoints because Alicia is out this week. Angel and I
are going to try to prepare the rest of the data for tomorrow so it can
serve you for testing even though it doesn't go through the API

On Tue, Aug 30, 2022 at 3:13 PM klongleywood ***@***.***>
wrote:

[2022-08-31 16:13] mluena commented on #342
@klongleywood I have updated the branch with the data straight away in the platform so you can check the 4 widgets for different locations

[2022-08-31 16:29] klongleywood commented on #342
@mluena thanks! I will start review with my team. One thing I see missing is the information about the FRELs -- See slide 2 in the ppt mock-up provided on December 16th in the above thread. The text about FRELs and whether or not a mangrove is considered a forest or a wetland was originally its own widget, but we asked to have that text moved under the International Status heading. In the CSV, dat

[2022-09-01 11:51] AngelArcones commented on #342
@klongleywood Regarding the sentence for the FREL data, in the presentation it currently displays as (highlighting the potentially dynamic parts):

`Indonesia’s` `2017` FREL is `48.9` Mt CO₂e/yr (Indonesia’s mangroves are considered `[Forest/Wetland]` according to `xxx`).
However, we seem to lack information for year (is it always the same?) and also de source for the "according to". Is this infor

[2022-09-01 20:15] klongleywood commented on #342
@AngelArcones -- I'm linking to an updated spreadsheet that has the FREL in the last column. And you're right, we never got the "according to xxx" data, so just leave out that part of the sentence. Thanks!
[Copy of Copy of Climate_Policy_Tool_Data_20220901.csv](https://github.com/Vizzuality/mangrove-atlas/files/9473081/Copy.of.Copy.of.Climate_Policy_Tool_Data_20220901.csv)

[2022-09-05 09:43] dhakelila commented on #505
Hi @klongleywood , I see this widget was included in the branch María and Ángel prepared with[ "Policy and Climate" widgets](https://mangrove-atlas-git-feature-international-sta-aff369-vizzuality1.vercel.app/country/TZA?map=eyJiYXNlbWFwIjoibGlnaHQiLCJ2aWV3cG9ydCI6eyJsYXRpdHVkZSI6LTYuMzk0MDI0ODE0MjQ5MTkxLCJsb25naXR1ZGUiOjI0Ljk4OTc4MDQ1NjI2MTk4Niwiem9vbSI6NC4yMjA1MTY5NTY4NzUxMzUsImJlYXJpbmciOjAsInBp

[2022-09-05 14:28] dhakelila commented on #332
@lhilarides information missing on your side.

[2022-09-05 14:32] dhakelila commented on #330
@klongleywood latests changes done. Please, check and close issue if you consider the widget complete.
Thanks!

cc/ @lhilarides

[2022-09-05 14:34] dhakelila commented on #463
@lhilarides please, take a look at the question above. I think that is no longer relevant, but please, confirm.

[2022-09-05 14:37] #480 closed

[2022-09-05 14:40] dhakelila commented on #421
This is mostly completed. Widgets were updated with new data.
We are now generating the new layers and calculating the Extend for Worldwide.

[2022-09-05 14:41] dhakelila commented on #412
This was fixed. Please, confirm and close issue if done.

[2022-09-05 14:42] dhakelila commented on #460
Widgets updated. Generating map layers

[2022-09-05 14:43] dhakelila commented on #333
All the requested changes on this thread are now completed. Please, check and close the issue if you agree.

[2022-09-05 14:51] #482 closed

[2022-09-05 14:53] dhakelila commented on #319
Still fixing some issues with the PDF report. Now widgets look good but there is a problem with the map that doesn't fully reflect the current location.

[Uploading Global Mangrove Watch.pdf…]()

[2022-09-06 12:50] #322 closed

[2022-09-06 18:18] #330 closed

[2022-09-06 18:21] klongleywood commented on #426
@dhakelila in the Mangrove Degradation and Loss infographic, the third statistic should be restorable area (that's what it should have been instead of degraded area)

[2022-09-06 19:11] klongleywood commented on #421
@dhakelila there is a bug with how the widget states the net change -- in many cases, it reports the change as a negative number. For example, the Worldwide statistic is "The extent of mangroves in the world has decreased by -524,524 ha between 1996 and 2020". The number should just be 524,524 (no negative). I noticed this for several countries as well.

I'm also noticing that the number reported

[2022-09-07 07:43] dhakelila commented on #426
@klongleywood , @AngelArcones do we have that data (restorable area)?
I never understood we should add that but only remove degraded area.

[2022-09-07 07:44] dhakelila commented on #421
@aagm ^^^

[2022-09-07 07:50] dhakelila commented on #472
@mluena see an example: https://www.loom.com/share/89ce15798dd1414892ed68ee37445fad

[2022-09-07 12:50] klongleywood commented on #426
@dhakelila @AngelArcones Yes, we have that data -- it's actually the same field used under the Restorable Mangrove Area heading (Total Restorable Area) but showing that as a proportion of total loss is part of the story that not all lost areas are restorable.

[2022-09-08 13:27] klongleywood opened #520 "[Bug]: Translation not working consistently"
Selecting French or Spanish only translates the text of the widget partially. See below for an example:

![Incomplete French translation](https://user-images.githubusercontent.com/54109064/189134422-3f8e062f-6620-4f62-999e-30246156d899.JPG)

FYI @dhakelila @lhilarides

[2022-09-08 13:28] aagm commented on #420
Hi Lammert!
I am doing some QA over the numbers related mangrove coastal coverage as we have noted +-10% of difference from the v2 to v3 version, with the way I did the calculations. I think it could be a good topic to discuss tomorrow. i want to validate the methodology followed with you

[2022-09-08 13:38] klongleywood commented on #421
@lhilarides @dhakelila I know we had decided to remove the red/green bars from the Net Change widget's graph, but don't we still need to show that these colors represent gain/loss for so we have a legend for the map? In staging these are not present. Also, the gain/loss map is very fuzzy when zoomed in. Is there a reason for this?

![Fuzzy gain and loss](https://user-images.githubusercontent.com/5

[2022-09-08 20:03] klongleywood commented on #463
@dhakelila @lhilarides  Can we check on the statistics showing up in the donut chart for Protected Areas? If you hover over the gray part of the donut chart, the area number that shows up is the same number as the total area of mangrove for the country. Shouldn't it be showing the unprotected mangrove area (i.e. total area - area of mangrove within protected area?)

[2022-09-08 21:43] klongleywood opened #521 "[Bug]: No way to scroll down on a small screen"
I think we noted this before but not sure if it ever got fixed. If you're on a smaller laptop screen, there is no way to scroll all the way down through all of the Widget categories to All datasets.

[2022-09-08 21:46] klongleywood commented on #506
@lhilarides @dhakelila similar to my comment on the Protection donut chart.  On the Restorable Mangrove Area part of the widget, shouldn't the number reported when you hover over the gray part of the donut represent the total non-restorable area, rather than the total mangrove area?

[2022-09-09 15:08] klongleywood commented on #520
@lhilarides see above, do you have access to the Transifex dashboard?

[2022-09-12 08:53] dhakelila opened #524 "Blue Carbon widget question"
@lhilarides , @klongleywood , this widget is currently missing as the old data doesn't match the new location.

Our question is if you want to show this widget temporary with the old data (the data that is currently in production), or if we can just wait until new data arrive because if you want to show the old data, we need to match it with the new locations. It's feasible, but we need to do it,

[2022-09-12 09:57] dhakelila commented on #421
@klongleywood , @lhilarides numbers updated.

Please, track separately the widgets where we need info button updates.

[2022-09-12 10:00] dhakelila opened #525 "Info buttons update"
@lhilarides , @klongleywood, I've seen in a couple of issues mentioning the need to update the info in the info button. Please, track all those cases under this issue, so we don't forget any of them.

Start by creating here a list of widgets that needs this update and then, pass the text here.

[2022-09-12 11:06] dhakelila commented on #524
Ok!

[2022-09-12 13:23] klongleywood commented on #525
- Mangrove habitat extent - update needed for 2020 data @lhilarides can you work on this one?
- Mangrove protection - @lhilarides
- Mangrove restoration @klongleywood
- Mangrove height, biomass, and blue carbon update for 2020 data @lhilarides

[2022-09-12 13:48] dhakelila opened #528 "Mangrove Habitat Change"
Hi @lhilarides , @klongleywood , do you remember the Mangrove Habitat Change widget?
The one where we used to rank the countries.

It was disabled long ago, and we are not sure if we should bring it back, but Maria found it in the categories spreadsheet.

This is important because we should adapt this to the new data.

Please, let us know.

[2022-09-12 16:15] lhilarides commented on #525
Mangrove Habitat Extent download button: https://zenodo.org/record/6894273

Mangrove Habitat Extent information window:
**Global extent of mangroves for select years from 1996 to 2020.**

**Overview:**
This layer depicts the global extent and change of mangrove forests in the years 1996, 2007 - 2010 and 2015 - 2020. The data set was generated within the framework of the Global Mangrove Watch (GMW)

[2022-09-12 20:09] dhakelila commented on #463
@klongleywood this is ready for your revision. Please, close the task if it looks good.
![Screenshot 2022-09-12 at 22 08 07](https://user-images.githubusercontent.com/6608294/189747733-e687681f-3440-40c3-bfba-5efce3a3605e.png)

Let's track the info button updates in the [thread I created for that purpose](https://github.com/Vizzuality/mangrove-atlas/issues/525).

[2022-09-12 20:18] dhakelila commented on #506
HI @klongleywood , I see it correctly. See attached screenshot. Does the issue persist for you?

![Screenshot 2022-09-12 at 22 17 46](https://user-images.githubusercontent.com/6608294/189750629-190f9767-f10e-4903-8eea-0f97723addfa.png)

[2022-09-12 20:19] dhakelila commented on #332
@aagm Can you check the question above?

[2022-09-12 20:25] dhakelila commented on #506
![Screenshot 2022-09-12 at 22 24 36](https://user-images.githubusercontent.com/6608294/189751907-e883d8d0-f323-469e-814d-c2eaa5aa2fb2.png)
Issue detected before with discrepancies on the data fixed as well.

[2022-09-12 20:25] dhakelila commented on #426
![Screenshot 2022-09-12 at 22 25 42](https://user-images.githubusercontent.com/6608294/189752092-beb1583e-f96f-4d49-bf25-4995d1091172.png)

Ready for revision

[2022-09-12 20:27] dhakelila commented on #474
![Screenshot 2022-09-12 at 22 27 18](https://user-images.githubusercontent.com/6608294/189752347-f5496965-7b44-40cb-8003-9533a4c022b0.png)

Ready for revision

[2022-09-12 20:28] dhakelila commented on #460
Widgets and maps ready for your revision

[2022-09-12 20:29] dhakelila commented on #452
Ready for revision

[2022-09-12 20:30] dhakelila commented on #427
REady for revision

[2022-09-13 08:18] dhakelila opened #530 "Vizzuality logo"
Hi @klongleywood , @lhilarides I realized Vizzuality logo is not on the website. Do you think we could add it along with the other logos on the about section?

We could say: Designed by: Vizzuality.

![Screenshot 2022-09-13 at 10 09 42](https://user-images.githubusercontent.com/6608294/189849014-fa8b7526-2246-445e-b378-83cd76d20992.png)

[2022-09-13 13:39] lhilarides commented on #525
### Mangrove Protection Widget
**Download button:**
- Spreadsheet: [insert url once table is uploaded somewhere]

**Overview**
This layer shows the area and proportion of mangroves in protected areas per country. The level of protection that protected ares afford to mangrove habitats varies, as does the degree to which they are effectively governed and managed.

The extent of mangroves found in pr

[2022-09-13 14:59] lhilarides commented on #444
I just did a full check of the staging environment and there's still quite some things to fix. I've tried to capture everything in the screenshot below. @dhakelila can you prioritise this and double check before marking fixed?

![image](https://user-images.githubusercontent.com/3919721/189935830-7f33304d-a241-4c81-a9ed-746529214813.png)

[2022-09-13 15:00] lhilarides commented on #444
@klongleywood could you indicate whether we need to display the widgets marked with a "?" at the global level? Thanks!

[2022-09-13 15:21] klongleywood commented on #444
@lhilarides -- none at a global level -- thanks!

[2022-09-13 15:24] lhilarides commented on #528
Yes, since we have the new data, it would be a shame to not display it. The only change needed to the widget would be to remove the gain and loss so only the net change is shown.

[2022-09-13 15:26] lhilarides commented on #520
I assigned this one to myself. We're working with WWF and Cambridge Uni on getting translations done.

[2022-09-13 15:39] lhilarides commented on #506
One comment regarding the contrast of the blue & purple color ramp in the overview section and on the map: it is very difficult to see the difference between 40% and 80%, at least with my eyes on my screen. It looks like the map uses shades of transparency instead of blue. Either way, I think we should increase the contrast of the color ramp. See below comparison of the Ocean Wealth color ramp vs

[2022-09-13 15:41] lhilarides commented on #474
Fixed, closing issue

[2022-09-13 15:41] #474 closed

[2022-09-13 15:48] lhilarides opened #533 "[Bug]: mangrove net change widget: graph displays annual change instead of cumulative change from start-year to end-year"
![image](https://user-images.githubusercontent.com/3919721/189946965-f43cf8a5-750b-4db7-8531-7abc632b12f4.png)

I finally figured out what's wrong with the numbers in the mangrove net change widget: the text mentions the cumulative change (which is good!). but the graph displays the differences from year to year. The graph should also show the cumulative net change, so that in this screenshot the

[2022-09-13 15:51] lhilarides opened #534 "Remove Areas of Interest"
Since we have now introduced many more protected areas I think we can completely ditch the concept of "Areas of Interest". I do like featuring some areas with images in the search interface so would like to keep that. This has absolutely no priority by the way

[2022-09-13 15:55] lhilarides commented on #533
Small addition: can you rephrase the word "net result" to "net change" ?

[2022-09-13 16:04] lhilarides opened #535 "[Bug]: last widget in the list should always be expanded"
The last widget in any category should always be expanded, see below for an example where it is not.
![image](https://user-images.githubusercontent.com/3919721/189951132-f80f938e-1604-456a-a468-84e6a01af5af.png)

[2022-09-13 16:06] lhilarides commented on #535
Sorry, this is a duplicate of https://github.com/Vizzuality/mangrove-atlas/issues/472

[2022-09-13 16:06] #535 closed

[2022-09-13 16:06] lhilarides commented on #472
Just checked, still needs to be done

[2022-09-13 16:08] lhilarides commented on #481
Checked and has been fixed

[2022-09-13 16:08] #481 closed

[2022-09-13 16:11] lhilarides opened #536 "Mangrove Net Change Widget - dropdown too narrow when scrollbar appears"
The dropdown list of the mangrove net change is too narrow when the scrollbar appears, see below.

I would suggest to use the styled scrollbar that we also use for the mangrove species widget (see 2nd image) for consistency
![image](https://user-images.githubusercontent.com/3919721/189952365-c71d6b50-f5b8-4706-a863-2145320500c3.png)

![image](https://user-images.githubusercontent.com/3919721/18995

[2022-09-13 16:13] lhilarides opened #537 "[Bug]: Mangrove Height displayed for 2016 instead of 2020"
The mangrove height widget says it is displaying data for 2016. This should be 2020, please also check whether the correct data is being displayed.

![image](https://user-images.githubusercontent.com/3919721/189953008-41d744f2-6147-433d-a58f-72036d16f5b8.png)

[2022-09-13 16:15] lhilarides commented on #463
On the global level this works fine now! However, the widget is not displayed on a country level any longer so I cannot check that now. Will do this as soon as https://github.com/Vizzuality/mangrove-atlas/issues/444 has been fixed

[2022-09-13 16:18] lhilarides opened #538 "[Bug]: Net Change map layer not displayed"
The map layer for the net change widget is not displayed in the map interface

[2022-09-13 16:20] lhilarides commented on #538
Sorry, another duplicate. This time of https://github.com/Vizzuality/mangrove-atlas/issues/421

[2022-09-13 16:20] #538 closed

[2022-09-13 16:22] lhilarides commented on #421
@klongleywood : we decided to bring back the red/green colors in the widget to serve as a kind of legend. Let's stick with this for now and think about improvements for the future.

@dhakelila I don't see any map layer in the staging environment

![image](https://user-images.githubusercontent.com/3919721/189955102-cce90e2a-7d09-4329-b563-27e247aed9cf.png)

[2022-09-13 16:24] lhilarides commented on #418
Closing this issue here and further tracking layer display in https://github.com/Vizzuality/mangrove-atlas/issues/421

[2022-09-13 16:24] #418 closed

[2022-09-13 16:26] #333 closed

[2022-09-13 16:27] #329 closed

[2022-09-13 16:29] lhilarides commented on #320
It seems to work fine for me on staging now. Can you try using your setup @klongleywood and close if it's fixed?

[2022-09-13 16:32] lhilarides commented on #537
Duplicate of https://github.com/Vizzuality/mangrove-atlas/issues/427

[2022-09-13 16:32] #537 closed

[2022-09-13 16:40] lhilarides commented on #427
Two small issues I found:
1. The data that is displayed is the correct data for 2020, but the widget mentions the year 2016. Please change this to 2020
2. The colors of the buckets 5-10m and 10-15m seem to be exactly the same. Please change these in the legend as well as in the bar

![image](https://user-images.githubusercontent.com/3919721/189958179-f2ed922f-b037-43f7-83a1-bdb143664798.png)

[2022-09-13 19:16] lhilarides commented on #412
On staging the Mangrove Alerts widget is not showing now. On Production the bug is still there:
![image](https://user-images.githubusercontent.com/3919721/189990121-f728c374-7632-4659-8729-110b2ef58256.png)

[2022-09-13 20:47] klongleywood commented on #320
Works for me

[2022-09-13 20:47] #320 closed

[2022-09-13 21:12] klongleywood commented on #426
@dhakelila here it is important that the restorable area is a subset of the total area of loss. We need to convey that somehow. My suggestion is that the Lost area should be re-labeled as "Non-Restorable Lost Mangrove Area" and that the value should be the area of loss - the restorable area value. Open to other ideas though

[2022-09-13 21:15] klongleywood commented on #506
@dhakelila the restoration widget is now in the right category and the donut number/percentage issue is fixed on my end.

[2022-09-13 21:43] klongleywood commented on #342
@dhakelila here are the issues that emerged on the initial review call -- I expect to have the rest of the review wrapped up by Friday.

**General**
1. Issue: no visible layers on the map when the Climate Policy dashboard is opened.
Solution: switch on the Mangrove Blue Carbon layer when the “Climate & Policy” dashboard is opened

**Widget 1 Investible Blue Carbon**

1. Change title of widget to "

[2022-09-14 07:22] dhakelila commented on #528
Ok @lhilarides since this was out of the radar, we'll evaluate what is needed in terms of adapting to the new data and decided whether we can include this week's sprint. I'll let you know.

[2022-09-14 07:27] dhakelila commented on #421
🤔 I can see the layer on staging. Maybe you are too close? There is a bug that we are fixing that makes the layers disappear after zoom 12.
![Uploading Screenshot 2022-09-14 at 09.26.16.png…]()

[2022-09-14 07:31] dhakelila commented on #412
@lhilarides it works for me on staging. Remember this widget only work for specific locations. I'm seeing it for worldwide and some african countries.

![Screenshot 2022-09-14 at 09 29 36](https://user-images.githubusercontent.com/6608294/190089790-03643ed7-b561-4d40-b257-ecce52b20d74.png)

![Screenshot 2022-09-14 at 09 30 26](https://user-images.githubusercontent.com/6608294/190089786-d27a24b4-d9

[2022-09-14 09:40] dhakelila commented on #342
Great, thanks for this feedback. We'll prioritise the rest of the items so we wait for the rest of the feedback on Friday but we'll start if time permits.

[2022-09-14 09:43] dhakelila commented on #506
@lhilarides about the colors on the layer, we realized it wasn't correctly generated and it only has one color.
It should have the same colors than the widget.
Please, see screenshot and confirm whether that color ramp is ok.

![Screenshot 2022-09-14 at 10 10 59](https://user-images.githubusercontent.com/6608294/190120517-a210ca68-1b22-4a69-bbee-e7273f4eb03b.png)

[2022-09-15 10:43] dhakelila commented on #534
@lhilarides , I don't know if there is a specific action for us here.

I understand you want to keep the highlighted areas in the search panel and I assume we don't want to remove the option to navigate to them by clicking on the map, so no sure what/if we need to do something in this sense.

[2022-09-15 10:44] dhakelila commented on #530
@lhilarides , @klongleywood, I'd like to drive your attention to this point. This is important for us. :)

[2022-09-15 16:48] lhilarides commented on #534
The "area of interest" is a separate geometry now, so it is duplicative. I think all that needs to be done is:
1. link the "highlighted places" to the corresponding WDPA geometry
2. remove the areas of interest

[2022-09-15 16:52] lhilarides commented on #530
Hi Clara! Yes, it would be fine by us to put that text + your logo there (below the donors section)

[2022-09-16 08:04] dhakelila commented on #506
![Screenshot 2022-09-16 at 10 02 43](https://user-images.githubusercontent.com/6608294/190588440-ba561a61-30ff-476a-8d58-a942731d895b.png)

@lhilarides new color ramp proposed. This add more contrast while preserving the color schemas of other widgets

[2022-09-16 08:22] dhakelila commented on #525
Info added to Extent and Protection

[2022-09-16 08:33] dhakelila commented on #342
_Issue: no visible layers on the map when the Climate Policy dashboard is opened.
Solution: switch on the Mangrove Blue Carbon layer when the “Climate & Policy” dashboard is opened_

This changes the logic of the rest of the widgets and might be misleading. I think the behaviour you are looking for is something similar to restoration, but it's not the same because, on the Restoration, we created a

[2022-09-16 08:33] dhakelila commented on #342
Changes on the Widget 1 Investible Blue Carbon done.

[2022-09-16 10:19] dhakelila commented on #524
Ready for revision

[2022-09-16 10:22] dhakelila commented on #505
Closing this thread as new feedback arrived in a new thread

[2022-09-16 10:22] #505 closed

[2022-09-16 10:22] dhakelila commented on #497
Follow up: https://github.com/Vizzuality/mangrove-atlas/issues/525

[2022-09-16 10:22] #497 closed

[2022-09-16 10:24] dhakelila commented on #463
![Screenshot 2022-09-16 at 12 24 29](https://user-images.githubusercontent.com/6608294/190618477-7d5123dd-f270-4413-9db5-4b9e5f795bff.png)

Working. Attached example for Nigeria

[2022-09-16 10:26] dhakelila commented on #444
Thanks for the table. I think it's 100% clear now. We are prioritizing to get all the widgets right first and we'll review all this early next week.

[2022-09-16 10:27] dhakelila commented on #427
Fixed
![Screenshot 2022-09-16 at 12 27 27](https://user-images.githubusercontent.com/6608294/190619038-4d6cee13-49fd-42d1-ba10-4de5657011a8.png)

[2022-09-16 10:28] dhakelila commented on #426
![Screenshot 2022-09-16 at 12 28 19](https://user-images.githubusercontent.com/6608294/190619166-9f5b8a57-d257-480b-8653-16522fd63a64.png)

Fixed. Please, check the numbers.

[2022-09-16 10:32] dhakelila commented on #421
![Screenshot 2022-09-16 at 12 30 33](https://user-images.githubusercontent.com/6608294/190619539-d0f29924-827c-43f2-a8d7-637a4ba5ab63.png)

The layer should behave properly now.
If you go beyond zoom level 12, it will become blurry as those zoom levels are not generated.

[2022-09-16 11:39] #419 closed

[2022-09-16 11:58] lhilarides opened #546 "[Bug]: legend/layer order restoration and extent layer"
The order of the layers does not match the order of the legend items. In this case I think the restoration layer should be displayed on top in the map

![image](https://user-images.githubusercontent.com/3919721/190633803-a88f761c-e8b4-4b25-a048-5ee72f4f3279.png)

[2022-09-16 12:06] lhilarides commented on #421
The map is no longer interactive when selecting different years. The layer always displays the exact same gain/loss irrespective of the years chosen in the widget

[2022-09-16 12:22] lhilarides opened #547 "Mangrove restoration popup: alignment in Firefox"
See image below where "+" is misaligned (Firefox 104.0.2 64bit on Windows 10)
![image](https://user-images.githubusercontent.com/3919721/190636830-1f393e85-1a8e-41e7-baed-7a7b9d6555cf.png)

[2022-09-16 12:24] lhilarides opened #548 "Mangrove Extent: sorting of the years is reversed"
On staging the sorting of years has been reversed. In the rest of the site, the oldest year is on top (which is good!), but now in the extent widget the newest year is on top:

![image](https://user-images.githubusercontent.com/3919721/190638086-1132137f-dc9c-44af-b9a3-67514d8ae795.png)

[2022-09-16 12:33] dhakelila commented on #506
Colors look good!

[2022-09-16 13:03] lhilarides opened #549 "[Bug]: multiple raster layers not displayed in the western hemisphere"
Staging environment:
The following layers are not displayed on the map anywhere west of Ghana and the dateline in the Pacific Ocean.
1. Mangrove net change
2. Mangrove height
3. Mangrove biomass

Here's Fiji, there are mangroves on both sides of the dateline, but no change/biomass/height layer is visible

![image](https://user-images.githubusercontent.com/3919721/190645249-9bb7e81f-40e1-4a43-91df-

[2022-09-16 13:08] lhilarides opened #550 "[Bug]: map doesn't zoom to Fiji"
When selecting Fiji as a country, either on the map or from the search window, the map zooms to South America

[2022-09-16 14:08] dhakelila commented on #421
Let us review it. It might be an issue with the loading time. Alicia confirmed that the interactivity is there.
We are requesting all the layers for all the years selected, so until it gets render, you might have the impression it's not working.

[2022-09-16 14:10] dhakelila opened #553 "Missing layers"
@lhilarides , we found the issue with the map layers.
It seems that we accidentally added a mask when exporting the layers from GEE so we got only part of the world.

Alicia is already generating the rest of the layers. It should be done by Tuesday. I'll keep you posted.

[2022-09-16 14:12] #553 closed

[2022-09-16 14:13] dhakelila commented on #549
@lhilarides , we found the issue with the map layers.
It seems that we accidentally added a mask when exporting the layers from GEE so we got only part of the world.

Alicia is already generating the rest of the layers. It should be done by Tuesday. I'll keep you posted.

[2022-09-16 14:31] dhakelila commented on #332
@lhilarides , @klongleywood since organize this download will require generating new files, we are waiting for the new data to come until we do it.
Please, confirm it's ok.

[2022-09-16 15:10] lhilarides opened #555 "[Bug]: Regression bug issue 401"
I noticed the cloud-functions had been updated, without merging the PR I created to fix issue #401

I don't want to interfere in your commits/PR at this stage, so please apply the changes to the current codebase to make sure this issue remains fixed:

https://github.com/lhilarides/mangrove-atlas/commit/3834dfd2fb315661e43abd010fb6cbfed2474272

[2022-09-19 07:55] dhakelila commented on #521
@klongleywood can you give us more info about this? Maybe a video?
It seems to be working for us. It's only that you can't scroll until the widgets are loaded.

[2022-09-19 07:59] dhakelila commented on #549
New layers there.
![Screenshot 2022-09-19 at 09 58 17](https://user-images.githubusercontent.com/6608294/190973715-5366291f-dc05-4f07-ab80-9af1ffd3fb79.png)
![Screenshot 2022-09-19 at 09 58 09](https://user-images.githubusercontent.com/6608294/190973720-230bda6c-d688-470a-9e36-e82225dd3f11.png)

[2022-09-19 09:18] aagm commented on #555
the issue should be [fixed here](https://github.com/Vizzuality/mangrove-atlas/pull/558)  and deployed in the Function already

[2022-09-19 10:11] dhakelila commented on #550
Yes. This is a known issue with the bounding boxes of the map. This is in our TODO list but thanks for reporting anyway!

[2022-09-19 10:16] dhakelila commented on #546
@lhilarides we agreed Extent layer will always be at the bottom. We already have a TODO for that.

[2022-09-19 10:23] dhakelila commented on #536
@lhilarides it's working fine in Mac. Please, confirm it's working for you as well. :)

[2022-09-19 10:32] dhakelila commented on #342
@klongleywood , @klongleywood please, check the Emissions Mitigation color palette proposed. I'm not sure if we'd like to have all the non-mangroves similar tone (like different greens but all of them green)

![Screenshot 2022-09-19 at 12 32 14](https://user-images.githubusercontent.com/6608294/190999132-3ca6b633-3cd8-4435-a8ed-cfb0adc43309.png)

[2022-09-19 12:23] dhakelila commented on #342
Notes from the meeting: Mangroves in green and other in orange-purple. Less "pastel".

[2022-09-20 07:20] dhakelila commented on #530
![Screenshot 2022-09-20 at 09 20 08](https://user-images.githubusercontent.com/6608294/191192783-46d83cf3-eb33-4f98-b874-730fa97235de.png)

[2022-09-20 07:20] #530 closed

[2022-09-20 07:20] dhakelila commented on #528
@lhilarides , @klongleywood the widget was included. It's already in production.

[2022-09-20 08:19] dhakelila opened #562 "Minor issue with DNS config"
There seems to be an issue with the DNS configuration and so, the favicon is not showing properly.
@lhilarides , can you check it?

It has been like it forever, but maybe it's something you can look at after the release (Don't do it before just in case...)

![Screenshot 2022-09-20 at 10 18 53](https://user-images.githubusercontent.com/6608294/191205717-ce150912-8df3-431f-9f59-58ae0bcc8c8f.png)

[2022-09-20 08:28] dhakelila commented on #420
New numbers are there.
@lhilarides , can you write down your concerns with the costal length to Alicia can check into it?

[2022-09-20 09:19] lhilarides commented on #528
Hi Clara, can you disable it in production asap? The numbers that are shown are incorrect and the widget behaves weird (e.g. the top 5 completely changes depending on whether you show 5 or 10 countries in the list). Let's look at this in our next meeting

[2022-09-20 10:04] dhakelila commented on #528
Widget disabled in production. Still showing in staging.

I always see the same countries. 🤔
Alicia will review the numbers.

![Screenshot 2022-09-20 at 12 02 09](https://user-images.githubusercontent.com/6608294/191229776-f763aaca-5028-435e-88fe-d2c3d66d3f24.png)
![Screenshot 2022-09-20 at 12 01 23](https://user-images.githubusercontent.com/6608294/191229782-f84697f3-22ce-4df8-a086-ea45dad0fb0d.p

[2022-09-20 10:34] AngelArcones commented on #506
@lhilarides We've fixed the issue of the similar colour between patches on the Restoration Score layer (see screenshot).

<img width="933" alt="Screenshot 2022-09-20 at 12 18 08" src="https://user-images.githubusercontent.com/57727579/191234299-3259a35c-5b05-4ec9-8a5a-52232b6047e0.png">

However, since the scores do not distribute equally between 0 and 100, the visualisation would not be taking fu

[2022-09-20 11:18] aagm commented on #528
Hi Lammert, the data came from the same source as the net-change and extent widgets.

The ranking is calculated as the aggregation (sum) of the values of net change per year( _extent in y_ - _extent in y-1_) in the period the user selects for each country location. Then we do order desc and limit (5 or 10) depending on user selection.
This gave us the locations with the **greatest positive** cumul

[2022-09-20 15:03] klongleywood commented on #525
We made a few small changes to the info button language for the climate and policy widgets:

**Mangrove International Status:**

Nationally Determined Contributions (NDCs) reflect a country’s proposed actions under the Paris Climate Agreement to cut emissions and adapt to climate change. Data used in this tool to describe a country’s NDC comes from Global Climate Watch (WRI 2022), or directly from

[2022-09-20 15:27] klongleywood commented on #342
fyi @dhakelila @lhilarides

On the international status widget, there are a few issues:

- The following change specified above has not been implemented: If a country hasn’t implemented the wetlands supplement, say that “There is no information as to whether this country has implemented the wetlands supplement”
- Another change that hasn't been implemented yet is the following: For countries where

[2022-09-20 19:33] mluena commented on #528
Removed from prod and ready to be checked in staging, let me know if the
version in staging is good for production

On Tue, Sep 20, 2022 at 9:21 PM Lammert Hilarides ***@***.***>
wrote:

[2022-09-20 19:46] lhilarides commented on #506
I'd be fine stretching the contract a bit, looks good!

I did find one small CSS issue with the popup in this layer, see below:
![image](https://user-images.githubusercontent.com/3919721/191350562-cbe72cea-ebb7-4c9f-abca-3cbd64267f01.png)

[2022-09-21 07:37] dhakelila commented on #342
@klongleywood changes ready in staging. Let us know if you want us to deploy to production and we'll do it asap.

cc/ @mluena

[2022-09-21 07:38] dhakelila commented on #525
Carbon market updated in production.
International status ready in staging for your approval. (https://github.com/Vizzuality/mangrove-atlas/issues/342)

[2022-09-21 13:05] klongleywood commented on #342
@dhakelila @mluena fyi @lhilarides

Almost ready, but still a few issues.

- Thanks for adding the additional information about adaptation/mitigation. There is an apostrophe that shows up at the end of the sentence (see Angola for example). Can you remove that?
- The units for the second sentence are still incorrect. Should be MtCO2e/yr

-In the Carbon market potential, I don't think the values of

[2022-09-21 14:08] klongleywood commented on #421
@dhakelila fyi @lhilarides

The net change widget is still behaving very strangely.  In the habitat extent widget, for example, I can use the tool to see that in 2016 the habitat extent was 147,069 km2 and the in 2020, the habitat extent is 147,358. So the net change between those two years is 289. But if I go to the mangrove net change widget, and I put in the bounding years for 2016 and 2020, it

[2022-09-21 14:11] klongleywood commented on #421
@dhakelila @lhilarides

![image](https://user-images.githubusercontent.com/54109064/191527220-a48e22e8-e491-476a-bc95-dbf48287f0e5.png)

Adding on to that, if the net change is positive between 2010 and 2020, why would the graph show a lower value in 2020 than in 2010?

[2022-09-21 14:27] mluena commented on #342
Both widgets have been updated, let me know if you want me to show "International Status" in prod @klongleywood

[2022-09-21 14:29] klongleywood commented on #342
@mluena thank you! Feel free to push to prod

[2022-09-21 15:18] dhakelila commented on #421
@klongleywood , Alicia is looking into this.

[2022-09-21 15:37] dhakelila commented on #421
@klongleywood shall we hide this widget while we figure out what is going on?

And second question: What figure would you expect to see in the net change text if I select 2016-2020?
289 Km2?

[2022-09-21 15:41] klongleywood commented on #421
@dhakelila Yes, I think we should hide it for now since it's not providing correct information.  And that's correct, I would expect to see the difference in area between the 2016 and the 2020 extent, so 289.

[2022-09-21 19:05] klongleywood commented on #506
@dhakelila and fyi @lhilarides -- the Mangrove Restoration dataset is on production and it should not be. We're already getting inquiries about it. Please take it down as soon as you can!

[2022-09-21 19:45] mluena commented on #506
@klongleywood done! you will be able to see the changes in a few minutes

[2022-09-21 20:06] klongleywood commented on #506
@mluena thanks!

[2022-09-22 12:35] dhakelila commented on #421
Let's see if we can get a clear idea of what that chart should show. Because I think that line was always of, but only when we are looking at it separately we realise it doesn't explain what we want.

The number should show the difference between the years selected.
So, for instance:
2010: 148,020.29 km²
2018: 147,554.26 km²
Diff: 466.03 (loss) --> This is what we should show on the sentece.

On t

[2022-09-22 21:02] klongleywood commented on #421
That sounds right to me – thanks Clara!

From: Clara Linos ***@***.***>
Sent: Thursday, September 22, 2022 8:36 AM
To: Vizzuality/mangrove-atlas ***@***.***>
Cc: Kate Longley-Wood ***@***.***>; Mention ***@***.***>
Subject: Re: [Vizzuality/mangrove-atlas] Update Mangrove net change to GMW version 3.14 (Issue #421)

Let's see if we can get a clear idea of what that chart should show. Because I thin

[2022-09-22 21:02] klongleywood commented on #421
That sounds right to me!

[2022-09-23 10:23] mluena commented on #421
@klongleywood, @lhilarides net change widget has been brought back to staging with the new calculations. Let me know if you are happy with the result so I can push to production

[2022-09-23 16:12] klongleywood commented on #421
thanks @dhakelila -- this is now behaving as expected! @lhilarides do you want to do a quick test before it's pushed to prod?

[2022-09-26 09:45] dhakelila commented on #533
This is done and the new calculations are ready in staging for your approval.
Let's follow the conversation at: https://github.com/Vizzuality/mangrove-atlas/issues/421

[2022-09-26 09:45] #533 closed

[2022-09-26 10:44] #506 closed

[2022-09-26 11:13] dhakelila commented on #342
Emissions widget ready for your revision on staging.

![Screenshot 2022-09-26 at 13 13 23](https://user-images.githubusercontent.com/6608294/192262592-2f250d62-cb80-4dc7-a474-b414c55e9e77.png)

[2022-09-26 12:19] #550 closed

[2022-09-26 12:19] #549 closed

[2022-09-26 12:49] #546 closed

[2022-09-26 12:51] #536 closed

[2022-09-26 12:53] dhakelila commented on #534
https://docs.google.com/spreadsheets/d/1UHVH5NbSPx3OLEe-uDWEhewbx4LetiJPCPcaYLYv3cU/edit#gid=100294634

[2022-09-26 12:57] #524 closed

[2022-09-26 13:04] #463 closed

[2022-09-27 20:39] dhakelila commented on #548
Ready!

![Screenshot 2022-09-27 at 22 38 50](https://user-images.githubusercontent.com/6608294/192630633-94afdd8c-2357-4227-9575-c5d36f04de3f.png)

[2022-09-28 09:29] lhilarides opened #581 "[Bug]: Mangrove Net Change: km2 to ha conversion wrong"
Production:
In the Net Change widget the conversion from km2 to ha is off by a factor of 100

![image](https://user-images.githubusercontent.com/3919721/192743437-b4d4646a-73b8-4c45-b80a-144ea8ce830c.png)

[2022-09-28 09:39] lhilarides opened #582 "[Bug]: Mangrove Habitat Extent - Coastline Coverage numbers wrong"
Production:
The number for coastline coverage is wrong. It shows area, but should be length. Please also change km2 to km

![image](https://user-images.githubusercontent.com/3919721/192745845-1a4401a9-663e-427f-858a-e4787d249388.png)

[2022-09-28 09:43] lhilarides opened #583 "[Bug]: Mangrove Habitat Extent widget - unit selector also changes the year"
Production environment

Reproduce:
1. select a year other than 2020, e.g. 2009
2. change the unit e.g. ha instead of km2
3. Now the year you selected earlier reverts back to 2020

![image](https://user-images.githubusercontent.com/3919721/192746708-a706aba4-6132-4aee-8eb4-9bb6f674bd37.png)

[2022-09-28 20:12] lhilarides commented on #444
Production: on the country level, the Mangrove Height widget does not appear under "All datasets". Please note that when you first navigate to the Ecosystem Services category and then to All datasets, it does appear.

[2022-09-29 07:28] dhakelila commented on #444
Hi Lammert, thank you for reporting. This is now fixed, we also found it yesterday.
I'd recommend reviewing this task at the very end of the project as things might change during the coming days due to the new changes to including the "on-the-fly" analysis.

[2022-09-30 11:07] dhakelila commented on #528
Now there is a new version of this widget showing the absolute bigger net change.
There are some style issues we need to adjust.

And one question, @lhilarides, @klongleywood:
If you see 1996-2020, all the values are negatives, so the vertical line (the axis) gets placed on the left.
If you check 2016-2020, there are negative and positive values, so the bar is at the centre.
Is that ok, or should

[2022-09-30 14:22] dhakelila opened #590 "Analysis feature ready!"
@lhilarides , @klongleywood  The analysis feature is ready for you to start testing in a new branch:
https://mangrove-atlas-da08u0kmj-vizzuality1.vercel.app/

That branch is a bit behind staging, and you will see some issues that were reported and solved in the last week but we didn't fix those on that branch. Please, don't pay attention to anything different than the analysis feature.

As Lammert

[2022-09-30 17:18] klongleywood commented on #412
@dhakelila The mangrove alert points are not showing up on the map for me. The widget is there, I've turned on the layer, but nothing is visible on the map. I'm in Chrome...

[2022-09-30 19:23] dhakelila commented on #412
Hi @Kate Longley-Wood ***@***.***> , they are showing for
me and I don't see your message on Github anymore so I wonder if that was a
temporal issue.
Please, let me know!

On Fri, Sep 30, 2022 at 7:18 PM klongleywood ***@***.***>
wrote:

--
- - - - - - - - - - - - - - - - - - - - - -
Clara Linos - Project Manager
*Vizzuality.*
c/Fuencarral 123, 5A. MADRID
www.vizzuality.com

[2022-09-30 20:40] lhilarides commented on #590
I just tried it and it works really well, so great job all!

A few comments:
1. the net change widget is still missing
2. the AGB value on the blue carbon widget is always 0
3. we should look into the display of the change alerts. It currently shows the "global" change alerts layer, whereas the "national" layer provides a lot more detail, which is needed on a site level. However, for polygons that

[2022-10-03 13:39] dhakelila commented on #421
Updated in production. Please, @lhilarides , check.

[2022-10-03 14:23] dhakelila commented on #525
As discussed during one of our last meetings, we'll update the year range of the Biomass andHeight widgets to show 1997-2020. Please, review the references in case they need to be updated.
"_Global mangrove aboveground biomass density for selected years between 1997 and 2016"_
_"Global mangrove canopy height for selected years between 1997 and 2016"_

[2022-10-03 19:53] klongleywood commented on #412
Hi Clara,

Sorry for the confusion – you’re right that I resolved the issue (I was looking at Staging :p )

       Kate

From: Clara Linos ***@***.***>
Sent: Friday, September 30, 2022 3:24 PM
To: Vizzuality/mangrove-atlas ***@***.***>
Cc: Kate Longley-Wood ***@***.***>; Comment ***@***.***>
Subject: Re: [Vizzuality/mangrove-atlas] Disturbance alerts widget: fix the date selection list scrollbar (

[2022-10-13 19:39] lhilarides opened #594 "[Bug]: image for Rufiji is the same as for Saloum in the 1st visit popup"
The popup that is shown when you first access the GMW has the same image for the Rufiji delta as for the Saloum. Can we please use the same images as we do in the search interface?

![image](https://user-images.githubusercontent.com/3919721/195693739-677a8b66-74ad-405b-acc1-3d2e6defc48b.png)

[2022-10-14 12:16] #594 closed

[2022-10-14 12:17] #583 closed

[2022-10-14 12:19] #582 closed

[2022-10-14 12:22] #555 closed

[2022-10-14 12:24] #548 closed

[2022-10-14 12:32] lhilarides opened #595 "[Bug]: Mangrove habitat change widget flipped order of the top 10 countries"
See image below, the order of the countries has been reversed:
![image](https://user-images.githubusercontent.com/3919721/195847697-1e325b70-7470-436f-95d7-e69e0c4151c0.png)

[2022-10-14 12:34] dhakelila commented on #521
Ready for testing here: https://mangrove-atlas-git-feature-react-map-gl-draw-vizzuality1.vercel.app/

[2022-10-14 12:36] #472 closed

[2022-10-14 12:36] #460 closed

[2022-10-14 12:37] #453 closed

[2022-10-14 12:37] #452 closed

[2022-10-14 12:38] #427 closed

[2022-10-14 12:42] #420 closed

[2022-10-14 13:06] #342 closed

[2022-10-14 13:06] #412 closed

[2022-10-14 13:07] #528 closed

[2022-10-14 13:28] klongleywood commented on #590
Hi @dhakelila  -- Lammert and I just discussed the widgets that should show up when a custom area is selected, and we decided to show only the widgets that have selectable data (i.e., leave out widgets that only show country-level data like biodiversity, restoration, and any of the climate and policy stats other than blue carbon)

[2022-10-17 07:13] lhilarides opened #596 "[Bug]: Mangrove Net Change widget broken"
Production environment. The mangrove net change widget no longer displays any values for the change. Instead it shows NaN (not a number)

![image](https://user-images.githubusercontent.com/3919721/196112025-0ad43887-48d0-43fd-a46a-fb5f894420e5.png)

[2022-10-19 12:44] dhakelila commented on #590
@klongleywood , @lhilarides we places a sentece to add the terms of service on the drawing tool, but I'm not sure if you want to add those.

If you do, please, provide the text. If not, let us know and we'll simply remove that sentence.

![Screenshot 2022-10-19 at 14 42 58](https://user-images.githubusercontent.com/6608294/196694233-12310722-2cc1-4bc7-8263-0f435b1bb752.png)

[2022-10-24 10:50] lhilarides opened #602 "[Bug]: Mangrove extent always displayed on top instead of on the bottom"
The mangrove extent layer should always be displayed as the bottom layer (it also used to). It now seems to be displayed always on top
![image](https://user-images.githubusercontent.com/3919721/197509676-b93f3ab2-e425-4df3-99f5-8162ecf63cdd.png)
This is just one example, but it goes for all layers

This is the production environment by the way

[2022-10-24 17:16] mluena commented on #602
I'm currently in production and I can't reproduce this but I'll keep digging into it

[2022-11-04 10:43] lhilarides opened #611 "[Bug]: Clicking on a country/protected-area from the search takes you to the "Custom area" menu"
Staging environment. Steps to reproduce:
1. Load homepage
2. Click search (magnifying glass)
3. Click any country / protected-area

Result:
![image](https://user-images.githubusercontent.com/3919721/199953892-13640943-5778-4168-8875-5019610fdb09.png)

Result should be that you're taken to the area selected. If you click the Magnifying glass again you are taken to the correct area

[2022-11-04 11:50] lhilarides opened #612 "[Bug]: Mangrove height widget legend"
The legend used to be displayed on top of the graph, instead of over it. This only seems to be a problem at the global level, as on country and protected area level it is displayed fine
![image](https://user-images.githubusercontent.com/3919721/199965847-19678354-909f-403e-b147-6a05a169aa77.png)

(This is Firefox on Windows 10)

[2022-11-04 11:58] lhilarides opened #613 "[Bug]: Incorrect numbers in Mangrove Habitat Change widget"
Staging environment:

The numbers displayed in the Mangrove Habitat Change widget are not always correct. For example when you select a year different then 1996 as the start year:

![image](https://user-images.githubusercontent.com/3919721/199967197-7f057bb7-df46-49ec-a471-f80a48cb3b26.png)

This should say 781 km2 (you can check the numbers in the Mangrove Habitat Extent Widget on the country lev

[2022-11-04 12:08] dhakelila commented on #612
@mluena it showing propoerly for me and Kate, so it might be Firefox.

[2022-11-04 12:10] dhakelila commented on #613
It seems only 2007 is off. It seems to be taken the numbers of the previous year (1996)

[2022-11-04 12:10] lhilarides commented on #612
It's also in Chrome, but only the widget that's displayed in the category "Restoration & Conservation"

[2022-11-04 12:35] dhakelila commented on #611
https://www.loom.com/share/20084aa2dbe74503bbe3ff7a551c05d8

[2022-11-10 20:24] klongleywood commented on #613
I'm getting incorrect numbers with other years besides 2007. in the Australia net change widget 2008 - 2020 shows a decrease of 148; in the mangrove habitat change the value is showing up as -243 for that time range.

[2022-11-10 20:35] klongleywood opened #614 "1996 missing from dropdown when selecting custom area"
I have selected a custom area and am looking at the mangrove net change widget for that area. There is no option to select 1996 from the first dropdown. Is this by design?

[2022-11-10 20:47] klongleywood opened #615 "Hovering in Carbon Market Potential"
The function in the Carbon Market Potential widget where you hover over the donut to see the value of the slice doesn't work consistently. Especially when the slice is relatively small, nothing shows up in the hover. Example for Cuba the only numbers that I can get to show up when I hover are the areas of mangrove in protected areas.

[2022-11-12 10:00] lhilarides opened #616 "Add convening partners logo to main menu"
Same image as on the "About the GMW" page

[2022-11-14 08:55] dhakelila commented on #595
@lhilarides , let me know if it works fine for you know. It seems to work fine for me.
![Screenshot 2022-11-14 at 09 55 07](https://user-images.githubusercontent.com/6608294/201617150-1d68f36d-66d6-49f4-ab62-2d77c65f4f29.png)

[2022-11-14 08:57] dhakelila commented on #596
Fixed and ready for you to check.
![Screenshot 2022-11-14 at 09 57 13](https://user-images.githubusercontent.com/6608294/201617610-5a9c37fe-3b86-4ff5-987d-eab114e6434f.png)

[2022-11-14 08:58] dhakelila commented on #602
![Screenshot 2022-11-14 at 09 58 28](https://user-images.githubusercontent.com/6608294/201617855-8482278c-cafc-47b8-bce4-5cb6638f02c1.png)

This seems to work as expected for me. Please, check

[2022-11-14 09:02] dhakelila commented on #611
PS: @mluena , this only happens at the very beginning. If I navigate a bit and then select a location, it works fine. It only happens if I try to select a location at the very beginning.

[2022-11-14 09:52] dhakelila commented on #614
![Screenshot 2022-11-14 at 10 51 48](https://user-images.githubusercontent.com/6608294/201629337-a97a4028-e2aa-44c2-a0c3-a7d17ef71caa.png)
@mluena screenshot attached. It doesn't show for me, either.

[2022-11-14 10:02] dhakelila commented on #616
Do you mean adding these:
![Screenshot 2022-11-14 at 11 02 13](https://user-images.githubusercontent.com/6608294/201631855-6a798e34-30f4-4f91-a76e-d0bfd079c3d7.png)

Here:
![Screenshot 2022-11-14 at 11 02 41](https://user-images.githubusercontent.com/6608294/201631958-a39b1394-9612-40d6-9050-eac35485a848.png)

[2022-11-14 14:32] dhakelila commented on #613
Hey! There seems to be 2 issues here.
The one flagged by Lammert wich we are looking at. And the one flagged by Kate which we are not able to reproduce as as far as we can tell, numbers are correct. Could you give us more details, @klongleywood ?

Looking at Australia, we get:
Extent 2008: 10,319.56 km²
Extent 2020: 10,170.81 km²
Decrease in mangrove net change widget: 148.75 km²

![Screenshot 202

[2022-11-15 20:20] klongleywood commented on #613
Ok, here are the steps to recreate (just to clarify this is staging not production).

When the geography is set to Worldwide, in the Mangrove Habitat Change widget (i.e. the list of geographies by the amount of change), I set the year range from 2008 - 2020. Hover over the entry for Australia (this is the second entry from the top). It says that the change is -283.

Then, if I select Australia fro

[2022-11-16 08:06] dhakelila commented on #613
Ok @klongleywood , I see what you mean now. Thanks!

[2022-11-16 10:29] lhilarides commented on #616
Hi Clara, Yes, between the "Resources" link and the GMA logo, with a bit of whitespace.

[2022-11-16 10:32] #562 closed, assigned to lhilarides

[2022-11-16 10:36] lhilarides commented on #602
Still an issue, this is a screenshot of the staging environment on Windows 10 pro, Firefox 106 after a refresh.

![image](https://user-images.githubusercontent.com/3919721/202157844-77476466-79fa-4532-8b81-1c72b5901ed2.png)

[2022-11-16 10:45] lhilarides opened #620 "Vertical scrollbar display on different widgets"
This was mentioned in previous issues, but not fixed yet. The vertical scrollbar in the habitat extent and net change widgets overlap with the values displayed. In the species widget there is a solution for this, by styling the vertical scrollbar. Styling the scrollbar consistently across all widgets would fix the issue and make it look better. See both styles below:

![image](https://user-images.

[2022-11-16 10:51] lhilarides opened #621 "Missing thousand separator for numbers in the net change widget"
As in other widgets, the number in the net change widget should have the thousand separator:
![image](https://user-images.githubusercontent.com/3919721/202161056-17100bb8-c13e-4e8e-bf00-ebda97f1a9a6.png)

[2022-11-16 11:04] lhilarides opened #622 "Species widget: long list with limited scroll"
For countries with a high number of mangrove species, we should look into making the design more user friendly, as scrolling through a long list makes this information very difficult to reach for users. As a temporary fix until there's an improved design, we could make an Excel download available under a "Download" button, with a pivot table of all species per country

![image](https://user-images

[2022-11-16 11:12] lhilarides opened #623 "Download window for net change widget"
1. The version linked to says v2, but is v3. Please change the text v2 into v3
2. It says here it's a link to gain and loss, but the data that is linked to only contains extent. Do we have the gain/loss data available separately @aagm ?

![image](https://user-images.githubusercontent.com/3919721/202165083-b8a9e1cc-fdc5-4b80-a755-3b8c89e0f130.png)

[2022-11-16 15:54] dhakelila commented on #622
The problem of adding the downloadable excel is who does those and where to store them.
Let us think of a solution.

[2022-11-16 16:48] dhakelila commented on #611
Ready for testing

[2022-11-16 16:49] dhakelila commented on #612
![Screenshot 2022-11-16 at 17 48 16](https://user-images.githubusercontent.com/6608294/202242446-8114a2c7-b8ba-4dd0-a45d-3976229186de.png)

Ready for testing

[2022-11-16 16:56] dhakelila commented on #615
The tooltip has been improved. Please, let us know.

[2022-11-16 18:29] lhilarides commented on #622
We'll create the excel file for the data and it can be stored in the Google
cloud bucket

On Wed, Nov 16, 2022, 16:54 Clara Linos ***@***.***> wrote:

[2022-11-17 08:20] dhakelila commented on #622
@lhilarides , what about making the widget taller when the list is long? That way, the list will have more space, and the scroll will be less. This is a change we can afford in terms of implementation, and the user experience will be better than downloading the file to see the items.

![PXL_20221116_172931608 MP](https://user-images.githubusercontent.com/6608294/202393268-832a26e4-aba0-43be-b1c1-b

[2022-11-17 11:48] lhilarides commented on #622
Yes, sounds good to me 👍

On Thu, Nov 17, 2022, 09:20 Clara Linos ***@***.***> wrote:

[2022-11-17 12:03] dhakelila commented on #623
@lhilarides , to your second question, we don't have the gain and loss data in a way they can be easily shared.
The links were updated to show the v3 version, but those are the extent info, not the gain and loss.

Options from Alicia:
- Keep links changing the description.
- Use the same links as we have in "Habitat extent" widget, as it is the same data.
- REmove the download from this widget alt

[2022-11-17 19:18] lhilarides commented on #623
Let's copy the information from the extent widget download. Simple and
consistent

On Thu, Nov 17, 2022, 13:03 Clara Linos ***@***.***> wrote:

[2022-11-18 11:20] dhakelila commented on #613
@lhilarides , @klongleywood both issues flagged above are solved.
1- Incorrect values for 2007.
2- Incorrect values for some countries. Example of Australia.
![Screenshot 2022-11-18 at 12 20 21](https://user-images.githubusercontent.com/6608294/202693967-b57446cd-3701-4c4a-b8a8-20cfe3e5f745.png)
![Screenshot 2022-11-18 at 12 18 00](https://user-images.githubusercontent.com/6608294/202693970-1ac764

[2022-11-18 11:22] dhakelila commented on #621
![Screenshot 2022-11-18 at 12 21 34](https://user-images.githubusercontent.com/6608294/202694141-14dd125b-8548-40a0-881d-7d0003e3f8b8.png)

[2022-11-18 11:23] dhakelila commented on #620
![Screenshot 2022-11-18 at 12 23 14](https://user-images.githubusercontent.com/6608294/202694415-9d92fb85-fbba-49eb-8add-c318f6374658.png)

[2022-11-18 11:54] aagm opened #628 "[Discussion]: GCS and GEE cleanup and organization"
Hi Lammert!
As we discuss past week I am posting here my proposal for asset management both in GEE and in GCS:

GCS proposed folder structure:
[code]

Within GEE I would suggest 1 image collection, with the latest version of the required, for each indicator and a folder for the coastline and locations data, just in case it is needed for calculations. Removing everything else.

[2022-11-18 12:24] dhakelila commented on #623
Done
![Screenshot 2022-11-18 at 13 23 23](https://user-images.githubusercontent.com/6608294/202704235-9556ff24-100e-481c-890c-ff916665af92.png)

[2022-11-18 12:57] lhilarides opened #630 "Custom area: no zoom to area of interest when uploading file"
When you finish drawing an area, the map pans/zooms to that area of interest. When you upload a file however, the map doesn't do that

[2022-11-18 12:59] lhilarides opened #631 "Custom area: the net change widget does not include 1996 as the start year"
the net change widget does not include 1996 as the start year, see below:
![image](https://user-images.githubusercontent.com/3919721/202710761-e47db747-3f31-42e6-88aa-c702cf34e384.png)

I did check this area, and there's a lot of change in this period

[2022-11-18 13:12] #620 closed

[2022-11-18 13:13] #623 closed

[2022-11-18 13:14] #616 closed

[2022-11-18 13:24] dhakelila commented on #602
@mluena it seems to be a bug with firefox and I still see it wrong there.

[2022-11-18 14:01] #621 closed

[2022-11-18 14:01] #615 closed

[2022-11-18 14:02] #595 closed

[2022-11-18 14:02] #596 closed

[2022-11-18 14:02] #611 closed

[2022-11-18 14:04] dhakelila commented on #612
@lhilarides I'd liek you to check this one since it was working fine for me. I checked on Firefox as well and it seems to be working fine, but still.
![Screenshot 2022-11-18 at 15 03 37](https://user-images.githubusercontent.com/6608294/202722673-b8e0386e-e700-4d7c-b20c-39ed8db7d8e7.png)

[2022-11-18 14:09] dhakelila commented on #622
Regardless of adding the scroll, Lammert will provide the file to create the download for this widget as per all the others. One file with all the data for this widget.

[2022-11-18 16:03] lhilarides opened #632 "Custom area: after doing a calculation there's no straighforward way to go back to the categories"
After doing a custom area calculation there's no straighforward way to go back to the categories, see the image below. If you click on one of the categories in the area outlined in red, nothing happens. One solution would be to display the warning that you're discarding the custom area, i.e. the same warning message that is displayed when you click on the "World" icon.

![image](https://user-image

[2022-11-22 21:00] klongleywood opened #635 "Restoration Typology Unit Tool Tip Hover"
In the Restoration Widget, I'm trying to access the tool tip feature that allows me to hover over or click on a typology unit to show the restoration attributes of the individual unit. Nothing happens when I hover, and if I click on the unit on the map, the page reloads as a blank screen. In staging using Chrome.

@dhakelila FYI

[2022-11-25 08:31] dhakelila commented on #635
@klongleywood this bug was introduced with the work that SparkGeo recently submitted. We are working on it, and it should be fixed soon.

[2022-11-25 14:04] lhilarides opened #638 "Can no longer share URL without losing settings"
We used to be able to share the URL with other users, so that the new user ends up on the same location and with the same layers enabled as the original user. This mostly still works, but there seem to be two things that go wrong now (at least with Firefox on Windows):
1. The category is lost and the new user defaults to the "Distribution and Change" category. This way the widgets and map layers n

[2022-11-28 08:47] dhakelila commented on #638
It also happens to me in Chrome.

[2022-11-28 10:03] dhakelila commented on #622
![Screenshot 2022-11-28 at 11 03 19](https://user-images.githubusercontent.com/6608294/204249942-c289475a-3230-442b-a081-c909b80b58e5.png)

[2022-11-28 12:51] lhilarides opened #639 "Restoration potential layer - highlight selected polygon"
Staging environment: When selecting a typological unit from the restoration potential layer, that specific unit should be highlighted. If it is not highlighted, it is impossible to distinguish the unit from neighbouring units

[2022-11-28 16:55] dhakelila commented on #639
This is related to the bug with the tooltip that Kate reported some days ago. We are on it. Thanks!

[2022-11-28 21:04] lhilarides opened #642 "Site defaults to mobile view on 1920x1080 display when windows desktop scaling is set at 150%"
Site defaults to mobile view on 1920x1080 displays when windows display settings are scaled at 150%. Four out of the ten people I trained today had this setting (the default is 125%), so it seems to be quite common. I think it has something to do with there not being enough vertical space available when fontsizes are 150%